{% extends 'dashboard/alerts/alert.html' %}

	{% block alert_class %}half_width{% endblock %}

	{% block alert_intro %}

		{% ifequal competition.current_phase phase %}

			Todo for this phase:
			<br/>

		{% else %}

			Just a reminder:

		{% endifequal %}

	{% endblock %}


	{% block alert_message %}

		{% ifequal competition.current_phase phase %}

				{% include 'dashboard/widgets/phase_todo.html' %}

		{% else %}

			{% if competition.current_phase %}
				This phase isn't currently active. You may <a href="/dashboard/phase/{{competition.current_phase.id}}/">return to the current phase</a> to manage what's currently happening with your competition.
			{% else %}

				{% ifequal phase competition.first_phase %}
					To start accepting pitches from applicants, click the button below. But before you do, make sure that you're happy with the application questions and deadline dates.
					<p>
					<button>Start accepting pitches</button>
					</p>
				{% else %}
					This competition hasn't yet begun. You may <a href="/dashboard/phase{{competition.first_phase.id}}/">return to the first phase</a> to start accepting applications.
				{% endifequal %}
			{% endif %}

		{% endifequal %}

	{% endblock %}


