{% extends 'dashboard/alerts/alert.html' %}

    {% block alert_class %}{% endblock %}

    {% block alert_intro %}

        {% ifequal competition.current_phase phase %}

            Todo for this phase:
            <br/>

        {% else %}

           Hello: 

        {% endifequal %}

    {% endblock %}


    {% block alert_message %}

        {% ifequal competition.current_phase phase %}
                {% include 'dashboard/widgets/phase_todo.html' %}
        {% else %}

            {% if competition.current_phase %}
                <p>
                    This phase isn't currently active. You may <a href="/dashboard/phase/{{competition.current_phase.id}}/">return to the current phase</a> to manage what's currently happening with your competition.
                </p>
            {% endif %}
            <p>
                If you're ready, you can make this the active phase.
                <br/>
                <a href="/dashboard/phase/{{phase.id}}/set_current/" class="button">Activate this phase</a>
            </p>

        {% endifequal %}

    {% endblock %}


