{% extends 'dashboard/popup_section.html' %}

{% block section_title %}
All pitches
{% endblock %}

{% block section_content %}
    <form action="" method="GET">

        <input type="hidden" name="view" value="all_pitches" />

        {% for phase in competition.phases %}
                <p>
                <input type="checkbox" name="phase_{{phase.phase_num}}" id="phase_{{phase.id}}" {% if phase.pitches.all_pitches.count == 0 %}disabled{% endif %} />
                <label for="phase_{{phase.id}}">{{phase.name}}</label>
                </p>
        {% endfor %}

    </form>

    <table>
        <tr>
            {% for th in header %}
            <th>{{th}}</th>
            {% endfor %}
        </tr>

        {% for tr in rows %}
            <tr>
                {% for td in tr %}
                    <td>{{td|safe}}</td>
                {% endfor %}
            </tr>
        {% endfor %}

    </table>

{% endblock %}
