{% extends 'dashboard/popup_section.html' %}

{% block section_title %}
All pitches
{% endblock %}

{% block section_content %}
    <form id="phase_filter" action="" method="GET">

        <input type="hidden" name="view" value="all_pitches" />

        <h3>Filter phases</h3>
        {% for phase in competition.phases %}

            <span style="padding-right:16px;">

                <input {% if phase in selected_phases %}checked="checked"{% endif %} type="checkbox" name="phase_{{phase.phase_num}}" id="phase_{{phase.id}}" {% if phase.pitches.all_pitches.count == 0 %}disabled{% endif %} />
                <label for="phase_{{phase.id}}">{{phase.name}}</label>

            </span>

        {% endfor %}

        <input type="submit" class="button" value="Show only these phases" />

    </form>

    <h3>All pitches</h3>
    <a href="/dashboard/{{competition.hosted_url}}/next_phase/" class="button">Advance checked pitches to next phase</a>

    <table class="spreadsheet" cellspacing="0">
        <thead>
            <tr>
                {% for th in header %}
                <th>{{th|safe}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>

            {% for tr in rows %}
                <tr class="{% cycle 'odd' 'even' %}">
                    {% for td in tr %}
                        <td>{{td|safe}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <script language="javascript" type="text/javascript">
        $( function () {
            $("#phase_filter").submit( function() {
                $("#dialog").load("/dashboard/data/table/{{competition.hosted_url}}/?" + $("form").serialize());
                return false;
            });
        });
    </script>

{% endblock %}
