{% extends 'dashboard/popup_section.html' %}

{% block section_title %}
All pitches
{% endblock %}

{% block section_content %}
    <form id="phase_filter" action="" method="GET">

        <input type="hidden" name="view" value="all_pitches" />

        <h3>Filter phases</h3>
        {% for phase in competition.phases %}

            <span style="padding-right:16px;">

                <input {% if phase in selected_phases %}checked="checked"{% endif %} type="checkbox" name="phase_{{phase.phase_num}}" id="phase_{{phase.id}}" {% if phase.pitches.all_pitches.count == 0 %}disabled{% endif %} />
                <label for="phase_{{phase.id}}">{{phase.name}}</label>

            </span>

        {% endfor %}

        <input type="submit" class="button" value="Show only these phases" />

    </form>

    <h3>All pitches</h3>

    <!--<a href="/dashboard/{{competition.hosted_url}}/next_phase/" class="button">Advance checked pitches to next phase</a>-->

    <!--
    <span id="toolbar" style="position:relative;padding:10px 4px;" class="ui-widget-header ui-corner-all"> 
        <span class="buttonset">
            <a href="javascript:void(0);" onclick="tag_selected('winner');" class="medium button" style="margin-right:0px;">Tag checked as winners</a>
            <a href="javascript:void(0);" onclick="$('#tag_dropdown').slideDown();" class="medium button" style="margin-left:0px;">Other tags</a>
        </span>

        <a href="" onclick="" style="margin-left:20px;" class="medium button">Displayed phases</a>

        <div id="tag_dropdown" class="hidden" style="padding:4px;position:absolute;left:200px;top:40px;width:160px;background-color:#ccc;min-height:100px;border:1px solid gray;">
            <input id="new_tag_name" value="New tag name" style="width:120px;" />
            <button style="width:35px;padding:2px;">Add</a>
            {% for tag in user_pitch_tags %}
            <div style="width:100%;" class="mouseover_highlight">
                {{ tag }}
            </div>

            {% endfor %}            
        </div>
    </span>
    -->

    <div class="hr" style="height:20px;">&nbsp;</div>

    <table class="spreadsheet" cellspacing="0">
        <thead>
            <tr>
                <th><input id='check_select_all' type='checkbox' onclick="$('.checkbox').attr('checked', $('#check_select_all').attr('checked'));"></th>
                <th>Team</th>       
                {% for phase in selected_phases %}
                    <th>P{{phase.phase_num}} Pitch</th>
                    <th>P{{phase.phase_num}} Scores</th>
                    <th>P{{phase.phase_num}} Average</th>
                    <th>P{{phase.phase_num}} Results</th>
                {% endfor %}
                <th>Total Score</th>
                <th>Prizes</th>
        </thead>

        <tbody>

            {% for team in teams %}

                <tr class="{% cycle 'odd' 'even' %}">

                    <td><input type='checkbox' id='checkbox_{{forloop.counter}}' class='checkbox' /></td>
                    <td>{{team}}</td>

                    {% for pitch in team.pitches %}

                        <td>
                            {% if pitch %}
                                <a href='javascript:void(0);' onclick=\"popup('/dashboard/pitch/{{pitch.id}}/');\">View</a> ({{pitch.percent_complete}}%) 
                            {% else %}
                                -
                            {% endif %}
                        </td>

                        <td>
                            {% if pitch %}
                                {% for judgement in pitch.judgements.all %}
                                    <a href='javascript:void(0);' onclick="popup('/dashboard/judgement/{{judgement.id}}/');">{{judgement.score}}</a> 
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>

                        <td>
                            {% if pitch %}
                                {{pitch.average_score}}
                            {% else %}
                                -
                            {% endif %}
                        </td>

                        <td>
                            {% if pitch %}
                                <div class="result_controls" id="{{pitch.id}}">
                                    <a href="javascript:void(0);" class="eliminate {% if pitch.is_eliminated %}hidden{% endif %}">
                                        <img src='/media/icons/no_cross.gif'/>
                                    </a>
                                    <img class="eliminated {% if pitch.is_eliminated %}{% else %}hidden{% endif %}" src='/media/icons/cross.gif' />
                                    <a href="javascript:void(0);" class="advance {% if pitch.is_eliminated %}{% else %}hidden{% endif %}">
                                        <img src='/media/icons/no_tick.gif'/>
                                    </a>
                                    <img class="advancing {% if pitch.is_eliminated %}hidden{% endif %}" src='/media/icons/tick.gif' />
                                </div>
                                <img class="waiting hidden" src="/media/icons/ajax-loader.gif" />
                            {% else %}
                                -
                            {% endif %}

                        </td>

                    {% endfor %}

                    <td>{{team.total_score}}</td>
                    <td>(prizes)</td>
            
                </tr>

            {% endfor %}

        </tbody>

    </table>

    <script language="javascript" type="text/javascript">
        $( function () {
            setTimeout("window_resize(dialog)", 1000);

            $(document).click( function() {
                $("#tag_dropdown").hide();
            });
            $("#tag_dropdown").click( function() {
                return false;
            });

            $("button").button();
            $(".button").button();
            $(".buttonset").buttonset();

            $(".advance").click( function () {
                $(this).parent().siblings(".waiting").show();
                $(this).parent().hide();
                var pitch_id = $(this).parent().attr("id");
                $.ajax({
                    url: "/dashboard/ajax/advance/" + pitch_id + "/",
                    context: $(this),
                    success: function() {
                        $(this).parent().show();
                        $(this).parent().siblings(".waiting").hide();
                        $(this).siblings(".eliminated").hide();
                        $(this).siblings(".eliminate").show();
                        $(this).siblings(".advancing").show();
                        $(this).hide();
                    }
                });
            });
            $(".eliminate").click( function () {
                $(this).parent().siblings(".waiting").show();
                $(this).parent().hide();
                var pitch_id = $(this).parent().attr("id");
                $.ajax({
                    url: "/dashboard/ajax/eliminate/" + pitch_id + "/",
                    context: $(this),
                    success: function() {
                        $(this).parent().show();
                        $(this).parent().siblings(".waiting").hide();
                        $(this).siblings(".advancing").hide();
                        $(this).siblings(".advance").show();
                        $(this).siblings(".eliminated").show();
                        $(this).hide();
                    }
                });
            });

            $(".mouseover_highlight").mouseenter( function () {
                $(this).addClass("highlighted");
            });
            $(".mouseover_highlight").mouseleave( function () {
                $(this).removeClass("highlighted");
            });

            $("#phase_filter").submit( function() {
                $("#dialog").load("/dashboard/data/table/{{competition.hosted_url}}/?" + $("form").serialize());
                return false;
            });
        });
    </script>

{% endblock %}
