{% extends 'dashboard/base.html' %}

{% block script %}

    function popup(url) {
        $("#dialog").jqm({ajax:url, ajaxText: 'Loading'});
        $("#dialog").jqmShow();
    }

    function all_pitches() {

    }

{% endblock %}

{% block ready_script %}

    $("#tab_analyze").addClass("ui-state-active");
    $("#tab_analyze").addClass("ui-tabs-selected");

    {% if view == "all_pitches" %}
        $("#dialog").jqmShow();
    {% endif %}

{% endblock %}

{% block jqmWindow %}

    {% if view == "all_pitches" %}
        {% include 'analytics/all_pitches.html' %}
    {% endif %}

{% endblock %}


{% block content %}

<a href="javascript:void(0);" onclick="popup('/dashboard/data/table/{{competition.hosted_url}}/?view=all_pitches');">All pitches</a>
<br/>
<a href="javascript:void(0);" onclick="popup('/dashboard/data/table/{{competition.hosted_url}}/?view=all_judges');">All judges</a>


<br/>
<br/>
<br/>


<a href="">All pitches</a>
<br/>
<a href="">All pitches</a>
<br/>

{% endblock %}
