{% extends 'base.html' %}

{% block header_title %}
Log in
{% endblock %}

{% block style %}
	#email, #password {
		font-size:18px;
	}
	#submission {
		float:right;
		clear:both;
		margin-right:80px;
		margin-top:20px;
	}
{% endblock %}

{% block content %}

<div id="left">

	{% if alert %}
		{% include 'dashboard/alerts/alert.html' %}
	{% endif %}

	<form action="." method="POST" class="focus">

		{% include 'userhelper/login_fields.html' %}

        <div class="hr">&nbsp;</div>

        <div id="submission" style="float:left;">

            {% if override_register_url %}
                <a href="{{override_register_url}}{% if next %}?next={{next}}{% endif %}">No account? Click to register!</a>.
            {% else %}
                <a href="/accounts/register/{% if next %}?next={{next}}{% endif %}">No account? Click to register!</a>.
            {% endif %}

			<input type="submit" class="button" value="Log in" style="margin-left:10px" />

		</div>

	</form>

</div>

<div class="hr" style="height:100px;">&nbsp;</div>

{% endblock %}
