<input type="hidden" name="form_type" value="login">

<input type="hidden" name="next" value="{{next}}">

<div id="form_field_container">
	<div id="prompt" style="float:left;padding-top:8px;width:120px;">
		Email
	</div>
	<div style="float:left">
		<input class="large"  type="text" id="email" name="email" style="" value="{{email}}" />
	</div>
</div>

<br/>

<div id="form_field_container">
	<div id="prompt" style="float:left;padding-top:8px;width:120px;">
		Password
	</div>
	<div style="float:left">
		<input class="large"  type="password" id="password" name="password"  />
	</div>
</div>