<input type="hidden" name="form_type" value="login">

{% if next %}
<input type="hidden" name="next" value="{{next}}">
{% endif %}

<input type="hidden" name="login_or_register" value="login">

<div id="form_field_container">
	<div class="input_prompt">
		Email
	</div>
	<div style="float:left">
		<input class="large"  type="text" id="email" name="email" style="" value="{{email}}" />
	</div>
</div>

<div class="hr">&nbsp;</div>

<div id="form_field_container">
	<div class="input_prompt">
		Password
	</div>
	<div style="float:left">
		<input class="large"  type="password" id="password" name="password"  />
	</div>
</div>

