{% extends 'dashboard/base.html' %}

{% block header_title %}
Change password
{% endblock %}

{% block header %}
    {% include 'dashboard/header_logged_in.html' %}
{% endblock %}

{% block content %}

    Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.

    <form method="POST" action="" class="focus">

        {% csrf_token %}
        
        <p>
            <label for="id_old_password" class="input_prompt required">Old password:</label>
            <input class="large" type="password" name="old_password" id="id_old_password">
        </p>
        <p>
            <label for="id_new_password1" class="input_prompt required">New password:</label>
            <input class="large" type="password" name="new_password1" id="id_new_password1"> 
        </p>
        <p>
            <label for="id_new_password2" class="input_prompt required">Password (again):</label>
            <input class="large" type="password" name="new_password2" id="id_new_password2">
        </p>

        <p>
            <input type="submit" class="button" value="Change password" />
        </p>

    </form>

{% endblock %}
