{% extends 'dashboard/base.html' %}

{% block header_title %}
Password reset
{% endblock %}

{% block header %}
    {% include 'dashboard/header_logged_in.html' %}
{% endblock %}

{% block content %}

Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.

<form action="" method="post" class="focus">
    
    {% csrf_token %}

    <p>
        <label class="input_prompt" for="id_email">E-mail address:</label> 
        <input class="large"  id="id_email" type="text" name="email" maxlength="75"> 

        <input type="submit" class="button" value="Reset my password">
    </p>

</form>

{% endblock %}
