<input type="hidden" name="form_type" value="register" />

{% if next %}
<input type="hidden" name="next" value="{{next}}" />
{% endif %}

<input type="hidden" name="login_or_register" value="register">

<div id="form_field_container">
	<div id="input_prompt" style="float:left;padding-top:8px;width:120px;">
		Email
	</div>
	<div style="float:left">
		<input class="large" type="text" id="email" name="email" value="{{email}}"/>
	</div>
</div>

<div class="hr">&nbsp;</div>

<div id="form_field_container">
	<div id="input_prompt" style="float:left;padding-top:8px;width:120px;">
		Password
	</div>
	<div style="float:left">
		<input class="large" type="password" id="password1" name="password1" />
	</div>
</div>

<div class="hr">&nbsp;</div>

<div id="form_field_container">
	<div id="input_prompt" style="float:left;padding-top:8px;width:120px;">
		Repeat password
	</div>
	<div style="float:left">
		<input class="large" type="password" id="password2" name="password2" />
	</div>
</div>
