{% extends 'base.html' %}

{% block header_title %}
Please confirm your email
{% endblock %}

{% block content %}

<p>
Hello,
</p>

<p>
To keep the competition pitches secure, we need you to confirm that this really is your email address. To do that, we sent a link to the email you provided. Once you open that email and click the link, you'll then be taken to the page you were heading toward when you registered.
</p>

<p>
Sorry for the inconvenience. If you don't see the email within a couple minutes, try checking your spam folder.
</p>

{% endblock %}