{% extends competition.template_base %}

{% block breadcrumbs %}
{% endblock %}

{% block header_title %}
Apply to {{ competition }}
{% endblock %}

{% block account_controls %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}

	{{ block.super }}

	<div id="bmc_wrapper">
	</div>

	<script>
	    (function() {
			var src = document.createElement('script');
			src.async = true;
			src.src = "{{base_url}}/apply/{{competition_url}}/widget.js";
			document.getElementById('bmc_wrapper').appendChild(src);
	    }());
  </script>

{% endblock %}