{% extends 'base.html' %}

{% block header %}
    {% include 'entercompetition/header.html' %}
{% endblock %}

{% block title %}
    Apply to {{ competition }}
{% endblock %}

{% block header_title %}
    Apply to {{ competition }}
{% endblock %}

{% block style %}

    .label {
        width:110px;
        font-size:16px;
        font-weight:bold;
        float:left;
    }

    input {
        width:400px;
        font-size:18px;
    }

    select {
        font-size:18px;
    }

    h2 {
        margin-bottom:12px;
    }

    .teammate {
        float:left;
        width:240px;
        margin-right:10px;
        margin-bottom:20px;
    }

    .teammate .label {
        width:60px;
    } 

    .teammate input {
        width:170px;
    }

    .h3 {

        {% if competition.hex_color %}
            background-color:#{{ competition.hex_color }};
        {% else %}
            background-color:#eee;
        {% endif %}

        width:616px;
        float:left;
        padding:0px 8px;
        margin:0px 0px 8px 0px;
        border-top:1px solid gray;
    }
    .h3 h3 {
        padding:4px 0px;
        margin:0px 0px;
    }

    .question_section {
        background-color:#fff;
        padding:0px 8px 20px 8px;
        float:left;
        clear:both;
    }

{% endblock %}

{% block ready_script %}

	$('.change_file').click(function() {
		var upload_id = ($(this).attr('id')).substr("change_file_".length);
		$('#blank_upload_' + upload_id).show();
		$('#done_upload_' + upload_id).hide();
	});

	$('#recovery').click(function() {
		if ($('#email').val() && $('#email').val() != "") {
			$('#recovery').attr('href','/apply/load/{{competition.hosted_url}}/?e=' + $('#email').val());
		}
	});

{% endblock %}

{% block footer %}
<span style="float:right;">Powered by <a href="/"><img border=0 src="/media/logo.png" style="height:12px;margin-bottom:-1px;margin-left:4px;"></a></span>
{% endblock %}

