{% extends competition.template_base %}

{% block style %}

    {{block.super}}

    .current_words {
        font-weight:bold;
    }

    .red {
        color:#dd0000;
        background-color:#fff6f6;
        border-color:#ff0000;
    }

{% endblock %}

{% block content %}

	{{ block.super }}

	<div>

		{% block above_form %}
		{% endblock %}

	</div>

    {% if alert %}
        {% include 'dashboard/alerts/alert.html' %}
    {% endif %}

    <script language="javascript" type="text/javascript">

        var is_over_word_limit = false;

        $(function() {
            $("form").submit(function() {

                if (is_over_word_limit) {
                    alert("Your submission has __NOT__ been saved because one or more of your answers is over the word limit. Please fix the fields highlighted in red and then try saving again. Thanks.");
                    return false;
                }
            });

            {% for question in questions %}
                {% if question.max_answer_words %}
                    $("#question_{{question.id}}").keyup(function() {
                        var id_toks = $(this).attr("name").split("_");
                        var id = id_toks[id_toks.length-1];
                        var current_count = $(this).val().trim().replace(/ {2,}/g, " ").split(" ").length;
                        if ($(this).val().trim().length == 0) {
                            current_count = 0;
                        }

                        $("#currentwords_" + id).text("" + current_count);

                        if (current_count > {{question.max_answer_words}}) {
                            $(this).addClass("red");
                            $("#currentwords_" + id).addClass("red");
                            is_over_word_limit = true;
                        }
                        else {
                            $(this).removeClass("red");
                            $("#currentwords_" + id).removeClass("red");
                            is_over_word_limit = false;
                            $(".red").each(function() { is_over_word_limit = true; });
                        }
                    });
                    $("#question_{{question.id}}").keyup();
                {% endif %}
            {% endfor %}
        });
    </script>

	<form action="." method="POST" enctype="multipart/form-data" class="focus">

        <div style="width:600px;float:left;">
        <div style="width:600px;float:left;margin-top:30px;">

            {% if founder %}
            Currently logged in as <strong>{{founder}}</strong>. Not you? <a href="/accounts/logout/?next=/a/{{competition.hosted_url}}/">Click here to log out</a>.
            {% endif %}

        </div>

        <div class="hr" style="height:30px;">&nbsp;</div>
        
        <div style="float:left;width:100%;clear:both;padding-left:8px;padding-bottom:12px;">

            {% if competition.application_requirements.business_types.count > 0 %}

                <strong>Business Type:</strong>

                <select name="business_types">
                    <option>&lt;&lt; please select &gt;&gt;</option>
                    {% for tag in competition.application_requirements.business_types.all %}
			<option {% for bt in team.business_types.all %}{% if bt == tag %}selected{% endif %}{% endfor %} value="{{tag}}">{{tag|capfirst}}</option>
                    {% endfor %}
                    <option value="Other">Other</option>
                </select>

            {% endif %}

        </div>

		{% if phase.questions %}

			{% block questions %}

                <div class="question_section"> <!-- begin initial question section, which may be empty -->
				{% for question in questions %}

					{% if question.is_hidden_from_applicants %}
					{% else %}
                        {% if question.is_divider %}

                            
                            </div> <!-- end previous question_section -->
                            <div class="h3">
                                <h3 style="float:left;clear:both;">{{question}}</h3>
                            </div>
                            <div class="question_section" style=""> <!-- begin next question_section -->

                        {% else %}
                            <div style="float:left;clear:both;">

                                {% if question.choices %}

                                    <div style="float:left;clear:both;width:100%;">
                                        <strong class="prompt">{{ question}}</strong>
                                        {% if question.extra_info %}
                                        <br/>
                                        {{ question.extra_info }}
                                        {% endif %}
                                    </div>

                                    <div class="hr">&nbsp;</div>

                                    <select name="question_{{question.pk}}">
                                        <option>&lt;&lt; please select &gt;&gt;</option>
                                    {% for choice in question.choices %}
                                        {{question.answer}} {{choice}}
                                        <option value="{{choice}}" {% if question.answer == choice %}selected="selected"{% endif %}>{{choice}}</option>
                                    {% endfor %}
                                    </select>
                                    <p>
                                    </p>
                                    <p>
                                    </p>

                                {% else %}

                                    {% ifequal question.field_rows 1 %}

                                        <div style="float:left;clear:both;width:100%;">
                                            <strong class="prompt">{{ question}}</strong>
                                            {% if question.extra_info %}

                                                <br/>
                                                {{ question.extra_info }}

                                            {% endif %}
                                        </div>

                                        <div class="hr">&nbsp;</div>
                                        {% if question.max_answer_words %}
                                        <div class="medium" style="float:right;">
                                            {{question.max_answer_words}} words max. Currently using <span id="currentwords_{{question.id}}" class="current_words">X</span> / {{question.max_answer_words}}
                                        </div>
                                        {% endif %}
                                        <input id="question_{{question.pk}}" class="question {% if question.max_answer_words %}max_words{% endif %}" type="text" name="question_{{question.pk}}" value="{{question.answer}}" />

                                    {% else %}
                                        <div style="float:left;clear:both;width:100%;">
                                            <strong class="prompt">{{ question}}</strong>

                                            {% if question.extra_info %}

                                                <br/>
                                                <div style="float:left;">{{ question.extra_info }}</div>
                                            {% endif %}

                                        </div>

                                        <div class="hr">&nbsp;</div>
                                        {% if question.max_answer_words %}
                                        <div class="medium"style="float:right;">
                                            {{question.max_answer_words}} words max. Currently using <span id="currentwords_{{question.id}}" class="current_words">X</span> / {{question.max_answer_words}}
                                        </div>
                                        {% endif %}
                                        <textarea class="question {% if question.max_answer_words %}max_words{% endif %}" name="question_{{question.pk}}" id="question_{{question.pk}}" rows="{{question.field_rows}}">{{question.answer}}</textarea>

                                    {% endifequal %}

                                {% endif %} <!-- if question.choices -->

                            </div>

                        {% endif %} <!-- if question.is_divider -->

                    {% endif %} <!-- if question.is_hidden_from_applicants -->

                {% endfor %} <!-- for question in questions -->

                    </div>

				<div class="hr" style="height:0px">&nbsp;</div>

			{% endblock %}

		{% endif %}

		{% if phase.uploads %}

			{% for upload in uploads %}

            <div style="float:left;width:100%;clear:both;padding-left:8px;">

                    <strong>{{upload.prompt}}</strong>

					<div id="done_upload_{{upload.pk}}" {% if upload.file %}{% else %}class="hidden"{% endif %}>
						<a href="{{upload.file.url}}">{{ upload.file }}</a>
						<a href="javascript:void(0)" id="change_file_{{upload.pk}}" class="silver medium change_file">Change file</a>

					</div>

					<div id="blank_upload_{{upload.pk}}" {% if upload.file %}class="hidden"{% endif %}>

						<input type="file" name="upload_{{upload.pk}}" />

					</div>

            </div>

			{% endfor %}

            <div class="hr" style="height:30px;">&nbsp;</div>

		{% endif %}

		<input id="is_draft" type="hidden" name="is_draft" value="False" />
                
        <div style="float:left;">

            {% if competition.terms_of_service %}
                <p>

                <strong>Please note:</strong> by submitting this form, you are agreeing to the <a href="javascript:void(0);" onclick="popup('/a/{{competition.hosted_url}}/tos/');">terms and conditions</a> of this competition. Please take a moment to <a href="javascript:void(0);" onclick="popup('/a/{{competition.hosted_url}}/tos/');">review them</a> before proceeding.

                </p>
            {% endif %}

            <input class="button" type="submit" style="font-size:18px;" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Save & submit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" onclick="$('#is_draft').val('False');" />

        <p class="medium">
        {% if competition.hosted_url == 'nvpc' %}
        You can update your pitch until the application deadline. However, by submitting your application early you will have a higher chance of being shortlisted for the semi-finals, since assessment of the applications may begin ahead of the deadline.
        {% else %}
        You can update your pitch until the application deadline.
        {% endif %}
        </p>

        </div>

	</form>

{% endblock %}
