{% extends competition.template_base %}

{% block content %}

	{{ block.super }}

	<div>

		{% block above_form %}
		{% endblock %}

	</div>

    {% if alert %}
        {% include 'dashboard/alerts/alert.html' %}
    {% endif %}

	<form action="." method="POST" enctype="multipart/form-data" class="focus">

        <div style="width:600px;float:left;">
        <div style="width:600px;float:left;margin-top:30px;">

            {% if founder %}
            Currently logged in as <strong>{{founder}}</strong>. Not you? <a href="/accounts/logout/?next=/a/{{competition.hosted_url}}/">Click here to log out</a>.
            {% endif %}

        </div>

        <div class="hr" style="height:30px;">&nbsp;</div>
        
        <div style="float:left;width:100%;clear:both;padding-left:8px;padding-bottom:12px;">

            {% if competition.application_requirements.business_types.count > 0 %}

                <strong>Business Type:</strong>

                <select name="business_types">
                    <option>&lt;&lt; please select &gt;&gt;</option>
                    {% for tag in competition.application_requirements.business_types.all %}
                    <option value="{{tag}}" {% for t in team.business_types.all %}{% if t == tag %}selected{% endif %}{% endfor %}>{{tag|capfirst}}</option>
                    {% endfor %}
                    <option value="Other">Other</option>
                </select>

            {% endif %}

        </div>

		{% if phase.questions %}

			{% block questions %}

                <div class="question_section"> <!-- begin initial question section, which may be empty -->
				{% for question in questions %}

					{% if question.is_hidden_from_applicants %}
					{% else %}
                        {% if question.is_divider %}

                            
                            </div> <!-- end previous question_section -->
                            <div class="h3">
                                <h3 style="float:left;clear:both;">{{question.prompt}}</h3>
                            </div>
                            <div class="question_section" style=""> <!-- begin next question_section -->

                        {% else %}
                            <div style="float:left;clear:both;">

                                {% if question.choices %}

                                    <div style="float:left;clear:both;width:100%;">
                                        <strong class="prompt">{{ question.prompt }}</strong>
                                        {% if question.extra_info %}
                                        <br/>
                                        {{ question.extra_info }}
                                        {% endif %}
                                    </div>

                                    <div class="hr">&nbsp;</div>

                                    <select name="question_{{question.pk}}">
                                        <option>&lt;&lt; please select &gt;&gt;</option>
                                    {% for choice in question.choices %}
                                        {{question.answer.answer}} {{choice}}
                                        <option value="{{choice}}" {% if question.answer == choice %}selected="selected"{% endif %}>{{choice}}</option>
                                    {% endfor %}
                                    </select>
                                    <p>
                                    </p>
                                    <p>
                                    </p>

                                {% else %}

                                    {% ifequal question.field_rows 1 %}

                                        <div style="float:left;clear:both;width:100%;">
                                            <strong class="prompt">{{ question.prompt }}</strong>
                                            {% if question.extra_info %}

                                                <br/>
                                                {{ question.extra_info }}

                                            {% endif %}
                                        </div>

                                        <div class="hr">&nbsp;</div>
                                        <input class="question" type="text" name="question_{{question.pk}}" value="{{question.answer}}" />

                                    {% else %}
                                        <div style="float:left;clear:both;width:100%;">
                                            <strong class="prompt">{{ question.prompt }}</strong>

                                            {% if question.extra_info %}

                                                <br/>
                                                <div style="float:left;">{{ question.extra_info }}</div>
                                            {% endif %}

                                        </div>

                                        <div class="hr">&nbsp;</div>
                                        <textarea class="question" name="question_{{question.pk}}" rows="{{question.field_rows}}">{{question.answer}}</textarea>

                                    {% endifequal %}

                                {% endif %} <!-- if question.choices -->

                            </div>

                        {% endif %} <!-- if question.is_divider -->

                    {% endif %} <!-- if question.is_hidden_from_applicants -->

                {% endfor %} <!-- for question in questions -->

                    </div>

				<div class="hr" style="height:0px">&nbsp;</div>

			{% endblock %}

		{% endif %}

		{% if phase.uploads %}

			{% for upload in uploads %}

            <div style="float:left;width:100%;clear:both;padding-left:8px;">

                    <strong>{{upload.prompt}}</strong>

					<div id="done_upload_{{upload.pk}}" {% if upload.file %}{% else %}class="hidden"{% endif %}>
						<a href="{{upload.file.url}}">{{ upload.file }}</a>
						<a href="javascript:void(0)" id="change_file_{{upload.pk}}" class="silver medium change_file">Change file</a>

					</div>

					<div id="blank_upload_{{upload.pk}}" {% if upload.file %}class="hidden"{% endif %}>

						<input type="file" name="upload_{{upload.pk}}" />

					</div>

            </div>

			{% endfor %}

            <div class="hr" style="height:30px;">&nbsp;</div>

		{% endif %}

		<input id="is_draft" type="hidden" name="is_draft" value="False" />
                
        <div style="float:left;">

            {% if competition.terms_of_service %}
                <p>

                <strong>Please note:</strong> by submitting this form, you are agreeing to the <a href="javascript:void(0);" onclick="popup('/a/{{competition.hosted_url}}/tos/');">terms and conditions</a> of this competition. Please take a moment to <a href="javascript:void(0);" onclick="popup('/a/{{competition.hosted_url}}/tos/');">review them</a> before proceeding.

                </p>
            {% endif %}

            <input class="button" type="submit" style="font-size:18px;" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Save & submit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" onclick="$('#is_draft').val('False');" />

            <p>
            You can update your pitch until the application deadline.
            </p>

        </div>

	</form>

{% endblock %}
