{% extends 'base.html' %}

{% block breadcrumbs %}
{% endblock %}

{% block logo %}
    {% if competition.logo %}
        <a href="{{competition.website}}"><img src="{{competition.logo_url}}" style="border:0px solid black;"></a>
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}

{% block header_title %}
Apply to {{ competition }}
{% endblock %}

{% block account_controls %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block ready_script %}

	$('.change_file').click(function() {
		var upload_id = ($(this).attr('id')).substr("change_file_".length);
		//alert('upload id: ' + upload_id);
		//alert($('#blank_upload_' + upload_id).attr('id'));
		$('#blank_upload_' + upload_id).show();
		$('#done_upload_' + upload_id).hide();
	});

	$('#recovery').click(function() {
		if ($('#email').val() && $('#email').val() != "") {
			$('#recovery').attr('href','/apply/load/{{competition.hosted_url}}/?e=' + $('#email').val());
		}
	});

{% endblock %}

{% block content %}

	{{ block.super }}

	<div>

		{% block above_form %}
		{% endblock %}

	</div>

	<form action="/apply/pitch_saved/{{competition.hosted_url}}/" method="POST" enctype="multipart/form-data" class="focus">

		{% if founder %}
		{% else %}

			<div style="width:600px;float:left;">
				<strong><span style="font-size:14px;width:150px;">Your email:</span></strong>
				<input type="text" name="email" id="email" style="width:300px;border:3px solid #ccc;padding:5px;height:20px;" />
				<p>
                Already saved an application?
				<a id="recovery" href="/apply/load/{{competition.hosted_url}}/">Click here to edit it</a>.
				</p>
			</div>

            <div class="hr" style="height:30px;">&nbsp;</div>
            
		{% endif %}

		{% if phase.uploads %}

			{% for upload in uploads %}

            <div style="float:left;width:100%;clear:both;">
				<p>

                    <strong>{{upload.prompt}}</strong>

					<div id="done_upload_{{upload.pk}}" {% if upload.file %}{% else %}class="hidden"{% endif %}>
						<a href="{{upload.file.url}}">{{ upload.file }}</a>
						<a href="javascript:void(0)" id="change_file_{{upload.pk}}" class="silver medium change_file">Change file</a>

					</div>

					<div id="blank_upload_{{upload.pk}}" {% if upload.file %}class="hidden"{% endif %}>

						<input type="file" name="upload_{{upload.pk}}" />

					</div>

				</p>
            </div>

			{% endfor %}

            <div class="hr" style="height:30px;">&nbsp;</div>

		{% endif %}

		{% if phase.questions %}
			{% block questions %}

				{% for question in questions %}

					{% if question.is_hidden_from_applicants %}
					{% else %}
						<div style="float:left;clear:both;">
						{% if question.choices %}
							<strong class="prompt">{{ question.prompt }}</strong>
							<div class="hr>&nbsp;</div>
							<select name="question_{{question.pk}}">
							{% for choice in question.choices %}
								{{question.answer.answer}} {{choice}}
								<option {% ifequal question.answer.answer choice %}selected="selected"{% endifequal%}>{{choice}}</option>
							{% endfor %}
							</select>
							<p>
							</p>
							<p>
							</p>
						{% else %}

							{% ifequal question.field_rows 1 %}

							<strong class="prompt">{{ question.prompt }}</strong>
							<div class="hr">&nbsp;</div>
							<input class="question" type="text" name="question_{{question.pk}}" value="{{question.answer}}" />

							{% else %}
							<strong class="prompt">{{ question.prompt }}</strong>
							<div class="hr">&nbsp;</div>
							<textarea class="question" name="question_{{question.pk}}" rows="{{question.field_rows}}">{{question.answer}}</textarea>
							{% endifequal %}

						{% endif %}
						</div>

					{% endif %}

				{% endfor %}

				<div class="hr">&nbsp;</div>

			{% endblock %}

		{% endif %}

		<input id="is_draft" type="hidden" name="is_draft" value="False" />

		<input type="submit" style="font-size:20px;" value="Save & submit pitch" onclick="$('#is_draft').val('False');" />
		<p>
		You can update your pitch until the application deadline.
		</p>
	</form>

{% endblock %}
