{% extends competition.template_base %}

{% block breadcrumbs %}
{% endblock %}

{% block header_title %}
Apply to {{ competition }}
{% endblock %}

{% block account_controls %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block ready_script %}

	$('.change_file').click(function() {
		var upload_id = ($(this).attr('id')).substr("change_file_".length);
		//alert('upload id: ' + upload_id);
		//alert($('#blank_upload_' + upload_id).attr('id'));
		$('#blank_upload_' + upload_id).show();
		$('#done_upload_' + upload_id).hide();
	});

	$('#email').keypress(function() {

		$('#recovery').attr('href','/apply/load/{{competition.hosted_url}}/?e=' + $('#email').val());
	});

{% endblock %}

{% block content %}

	{{ block.super }}

	<form action="/apply/pitch_saved/{{competition.hosted_url}}/" method="POST" enctype="multipart/form-data">

		{% if founder %}
		{% else %}

			Your email:
			<input type="text" name="email" id="email" />
			<br/>
			Already saved an application?
			<a id="recovery" href="/apply/load/{{competition.hosted_url}}/">
				Click here to edit it
			</a>.

		{% endif %}

		{% if phase.uploads %}

			<h3>Uploads</h3>

			{% for upload in uploads %}

				<p>

					{{upload.prompt}}

					<br/>

					<div id="done_upload_{{upload.pk}}" {% if upload.file %}{% else %}class="hidden"{% endif %}>


						<a href="{{upload.file.url}}">{{ upload.file }}</a>
						<a href="javascript:void(0)" id="change_file_{{upload.pk}}" class="medium change_file">Change file</a>

					</div>

					<div id="blank_upload_{{upload.pk}}" {% if upload.file %}class="hidden"{% endif %}>

						<input type="file" name="upload_{{upload.pk}}" />

					</div>

				</p>

			{% endfor %}

		{% endif %}

		{% if phase.questions %}
			<h3>Questions</h3>

			{% for question in questions %}

				<p>
					{{ question.prompt }}

					<br/>

					<textarea name="question_{{question.pk}}">{{question.answer}}</textarea>
				</p>

			{% endfor %}

		{% endif %}

		<input id="is_draft" type="hidden" name="is_draft" value="False" />

		<input type="submit" value="Save & submit pitch" onclick="$('#is_draft').val('False');" />
		<br/>
		(You may continue to edit your pitch until judging begins)

	</form>

{% endblock %}