{% extends competition.template_base %}

{% block breadcrumbs %}
{% endblock %}

{% block header_title %}
Apply to {{ competition }}
{% endblock %}

{% block account_controls %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}

	{{ block.super }}

	{% load markup %}

	{{ intro|markdown }}

	<form method="POST" action=".">

		Your email: <input type="text" name="email" value="{{get_email}}" class="focus" />

		</br>

		<input type="submit" value="Send a reminder email" />

	</form>

	{{ cancel|markdown }}

	{{ security|markdown }}

{% endblock %}