{% extends competition.template_base %}

{% block breadcrumbs %}
{% endblock %}

{% block header_title %}
Confirm your email & get your application to {{competition.name}}
{% endblock %}

{% block account_controls %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}

	{{ block.super }}

	{% load markup %}

	{{ intro|markdown }}

	<form method="POST" action=".">

        Your email: 
        <input type="text" name="email" value="{{get_email}}" class="focus" style="font-size:18px;" />

		</br>

		<input id="sub" type="submit" value="Send a reminder email" />

	</form>

    <script language="javascript" type="text/javascript">
        $( function () {
            $("#sub").button();
        });
    </script>

	{{ cancel|markdown }}

	{{ security|markdown }}

{% endblock %}
