<strong class="prompt">{{upload.prompt}}</strong>

<br/>

{% if upload.file.url %}
    {% if upload.file.scribd %}

        <div id="scribd_{{upload.id}}"></div>

        <script language="javascript" type="text/javascript">
            {% if upload.file.scribd %}
                var scribd_doc = scribd.Document.getDoc({{ upload.file.scribd.doc_id }}, "{{ upload.file.scribd.access_key }}");
                scribd_doc.addParam( 'jsapi_version', 1 );
                scribd_doc.write( 'scribd_{{ upload.id }}' );
            {% endif %}
        </script>

    {% else %}{% if upload.file.is_image %}

        <img src="{{upload.file.url}}" />

    {% else %}

        <a href="{{upload.file.url}}">{{ upload.file }}</a>

    {% endif %}{% endif %}

{% else %}

    <p>
    (No upload)
    </p>

{% endif %}

<p>
</p>

<p>
</p>
