{% extends competition.template_base %}

{% block style %}

    {{ block.super }}

    input, select, textarea {
        margin:8px;0px;
    }

{% endblock %}

{% block content %}

	{{ block.super }}

	<div>

		{% block above_form %}
		{% endblock %}

	</div>

    {% if alert %}
        {% include 'dashboard/alerts/alert.html' %}
    {% endif %}

	<form action="." method="POST" enctype="multipart/form-data" class="focus">

        <div style="width:600px;float:left;margin-top:30px;">

            <h2>Personal details</h2>

            {% if founder %}

                <span class="label">
                    <label for="email">Email</label>
                </span>
                <input disabled name="email" id="email" class="large" value="{{founder.email}}" />
                <br/>

            {% else %}

                <span class="label">
                    <label for="email">Email</label>
                </span>
                <input name="email" id="email" class="large" value="{{founder.email}}" />
                <br/>

            {% endif %}

            {% if founder %}
            Currently logged in as <strong>{{founder}}</strong>. Not you? <a href="/accounts/logout/?next=/a/{{competition.hosted_url}}/">Click here to log out</a>.
            {% else %}
            Already saved an application?
            <a id="recovery" href="/apply/load/{{competition.hosted_url}}/">Click here to retrieve & edit it</a>.
            {% endif %}
            <br/>
            <br/>

            <span class="label">
                <label for="name">Name</label>
            </span>
            <input name="name" id="name" class="large" value="{{name}}" />
            <br/>

            {% if competition.application_requirements.is_phone_required %}
                <span class="label">
                    <label for="phone">Phone #</label>
                </span>
                <input name="phone" id="phone" class="large" value="{{phone}}" />
                <br/>
            {% endif %}

            {% if competition.application_requirements.is_birthday_required %}
                <span class="label">
                    <label for="birthday">Date of birth</label>
                </span>
                <input name="birthday" id="birthday" class="large" value="{{birthday}}" />
                <br/>
            {% endif %}

            {% if competition.application_requirements.is_address_required %}
                <span class="label">
                    <label for="address">Mailing address</label>
                </span>
                <textarea rows=4 style="width:400px;" name="address" id="address">{{address}}</textarea>
                <br/>
            {% endif %}



            {% if competition.application_requirements.institutions.count > 0 %}
                <span class="label">
                    <label for="institution">University</label>
                </span>
                <select name="institution">
                    <option>&lt;&lt; please select &gt;&gt;</option>
                    {% for tag in competition.application_requirements.institutions.all %}
                        <option value="{{tag}}">{{tag|capfirst}}</option>
                    {% endfor %}
                    <option value="Other">Other</option>
                </select>
                <br/>
            {% else %}{% if competition.application_requirements.is_institution_required %}
                <span class="label">
                    <label for="institution">Institution</label>
                </span>
                <input name="institution" id="institution" class="large" value="{{institution}}" />
            {% endif %}{% endif %}

            {% if competition.application_requirements.applicant_types.count > 0 %}
                <span class="label">
                    <label for="applicant_types">Role</label>
                </span>
                <select name="applicant_types" style="margin-bottom:8px;">
                    <option>&lt;&lt; please select &gt;&gt;</option>
                    {% for tag in competition.application_requirements.applicant_types.all %}
                        <option value="{{tag}}">{{tag|capfirst}}</option>
                    {% endfor %}
                    <option value="Other">Other</option>
                </select>
                <br/>
            {% endif %}

            {% if competition.application_requirements.is_course_of_study_required %}
<div style="width:600px;float:left;">
                <span class="label">
                    <label for="course_of_study">Course of study:</label>
                </span>
                <input name="course_of_study" id="course_of_study" class="large" value="{{course_of_study}}" />
</div>
            {% endif %}

            {% if competition.application_requirements.is_year_of_study_required %}
                <span class="label">
                    <label for="year_of_study">Year of study:</label>
                </span>
                <select name="year_of_study" id="year_of_study">
			<option>&lt;&lt; please select &gt;&gt;</option>
			<option value="1">First</option>
			<option value="2">Second</option>
			<option value="3">Third</option>
			<option value="4">Fourth</option>
			<option value="5">Fifth</option>
			<option value="6">Sixth</option>
			<option value="7">Seventh</option>
			<option value="8">Eigth</option>
		</select>
            {% endif %}

            {% if competition.application_requirements.locations.count > 0 %}
                <span class="label">
                    <label for="locations">Location</label>
                </span>
                <select name="locations">
                    <option>&lt;&lt; please select &gt;&gt;</option>
                    {% for tag in competition.application_requirements.locations.all %}
                        <option value="{{tag}}">{{tag|capfirst}}</option>
                    {% endfor %}
                    <option value="Other">Other</option>
                </select>
                <br/>
            {% endif %}


        </div>

        <div class="hr" style="height:30px;">&nbsp;</div>

        <h2 style="float:left;">Team details</h2>

            <div class="hr" style="">&nbsp;</div>

            <div style="float:left;">
                <span class="label">
                    <label for="team_name">Team name</label>
                </span>
                <input name="team_name" id="team_name" class="large" value="{{team_name}}" />
            </div>

            <br/>

        <div style="float:left;width:100%;" id="teammates">

        <input type="submit" id="add_teammate_button" style="float:left;width:160px;" href="javascript:void(0);" onclick="return add_teammate()" value="Add team member" />

    </div>

    <div class="hidden teammate" id="teammate_template">

        <span class="label">
            Team member name
        </span>
        <input style="margin:0px 0px 4px 0px;" id="teammate-name"></input>

        <br/>

        <span class="label">
            Team member email
        </span>
        <input style="margin:0px 0px 4px 0px;" id="teammate-email"></input>

    </div>


    <div class="hr" style="height:30px;">&nbsp;</div>

    <div style="float:left;">
        <input class="button" style="font-size:18px;" type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Save & submit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" onclick="$('#is_draft').val('False');" />
        <p class="medium">
        {% if competition.hosted_url == 'nvpc' %}
        You can update your pitch until the application deadline. However, by submitting your application early you will have a higher chance of being shortlisted for the semi-finals, since assessment of the applications may begin ahead of the deadline.
        {% else %}
        You can update your pitch until the application deadline.
        {% endif %}
        </p>
    </div>
</form>

<script language="javascript" type="text/javascript">

    function add_teammate() {

        var num = $("#teammates").children().length;
        var teammate = $("#teammate_template").clone();

        teammate.attr("id", "teammate_" + num);
        teammate.removeClass("hidden");
        teammate.children("#teammate-name").attr("name", "teammate-name_" + num);
        teammate.children("#teammate-email").attr("name", "teammate-email_" + num);

        $("#add_teammate_button").before(teammate);

            return false;
        }

    </script>

{% endblock %}
