<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

	<link rel="stylesheet" type="text/css" href="/media/competition/style/base.css" />
	<link rel="stylesheet" type="text/css" href="/media/competition/style/popups.css" />

	{% if competition %}{% if competition.template_stylesheet %}
		<link rel="stylesheet" type="text/css" href="{{competition.template_stylesheet}}" />
	{% endif %}{% endif %}

	{% block meta %}{% endblock %}

	<meta name="Description" content="Business model competitions - create & compete">

    <title>
      {% block title %}
      Biz Model Competition
      {% endblock %}
    </title>

	<!--
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	-->

    <style>

    	{% block style %}
    	{% endblock %}

    </style>

    <script type="text/javascript" src="/media/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/media/jqModal.js"></script>
	<script type="text/javascript" src="/media/showdown.js"></script>

	<script type="text/javascript">

		{% block script %}
		{% endblock %}

		$(document).ready(function(){
			$('#dialog').jqm();
			{% block ready_script %}
			{% endblock %}

			$('form.focus :input:visible:first').focus();

		});

    </script>

</head>

<body>

	<div class="jqmWindow" id="dialog">
		{% block jqmWindow %}
		{% endblock %}
	</div>

	<div id="body">

		<div id="header">

			{% block header_top %}
			<div class="logo">
				<a href="http://www.ucl.ac.uk/advances" target="_blank"><img
					src="http://www.londonentrepreneurschallenge.com/images/ucl_logo.gif" alt="UCL"
					width="149" height="56" border="0" /></a><br />

			</div>
			<object type="application/x-shockwave-flash" width="279" height="103" data="http://www.londonentrepreneurschallenge.com/flash/logo_anim.swf">
				<param name="movie" value="flash/logo_anim.swf" />
				<param name="quality" value="high" />
			</object>
			{% endblock %}

			<span class="medium">{% block breadcrumbs %}{% endblock %}</span>

			<div id="account_controls" class="medium">
				{% block account_controls %}
				{% endblock %}
			</div>
		</div>


		<div id="content">
			<div id="content_outer">

				{% block content_outer_top %}

					<div id="leftnav">
						&nbsp;
					</div>

					<div id="topnav">
						&nbsp;
					</div>

				{% endblock %}

				{% block content %}

					<object type="application/x-shockwave-flash" width="650" height="125" data="http://www.londonentrepreneurschallenge.com/flash/enter_now.swf">
					<param name="movie" value="http://www.londonentrepreneurschallenge.com/flash/enter_now.swf">
					<param name="quality" value="high">
					</object>

					<div id="content_inner">

					<h1>
						{% block header_title %}
						Biz Model Competition
						{% endblock %}
					</h1>


				{% endblock %}

			{% block content_outer_bottom %}

					</div>

			</div>
			{% endblock %}