{% extends 'entercompetition/pitch_form.html' %}

{% block above_form %}

<p style="font-size:14px;margin-bottom:24px;">
Submission deadline: <a href="http://www.londonentrepreneurschallenge.com/schedule.html">Sunday, 31 October 2010</a>
<br/>
View the <a href="/media/whitelabel/echallenge/entryguide.pdf">requirements & guidelines</a> (pdf)
</p>
{% endblock %}

{% block questions %}

	{% for question in questions %}


	{% if forloop.counter <= 11 and forloop.counter >= 4 %}

		{% ifequal forloop.counter 4 %}
			<strong class="prompt" style="padding-top:10px;">{{question.prompt}}</strong>
			<br/>
			<div class="extra_team">
				<input class="extra_team_question" type="text" name="question_{{question.pk}}" value="{{question.answer}}" />
		{% endifequal %}{% ifequal forloop.counter 5 %}
				<select name="question_{{question.pk}}">
					{% for choice in question.choices %}
						<option {%if question.answer == question.choice%}selected{% endif %}>{{choice}}</option>
					{% endfor %}
				</select>
			</div>
		{% endifequal %}{% ifequal forloop.counter 6 %}
			<div class="extra_team">
				<input class="extra_team_question" type="text" name="question_{{question.pk}}" value="{{question.answer}}" />
		{% endifequal %}{% ifequal forloop.counter 7 %}
				<select name="question_{{question.pk}}">
					{% for choice in question.choices %}
						<option {%if question.answer == question.choice%}selected{% endif %}>{{choice}}</option>
					{% endfor %}
				</select>
			</div>
		{% endifequal %}{% ifequal forloop.counter 8 %}
			<div class="extra_team">
				<input class="extra_team_question" type="text" name="question_{{question.pk}}" value="{{question.answer}}" />
		{% endifequal %}{% ifequal forloop.counter 9 %}
				<select name="question_{{question.pk}}">
					{% for choice in question.choices %}
						<option {%if question.answer == question.choice%}selected{% endif %}>{{choice}}</option>
					{% endfor %}
				</select>
			</div>
		{% endifequal %}{% ifequal forloop.counter 10 %}
			<div class="extra_team">
				<input class="extra_team_question" type="text" name="question_{{question.pk}}" value="{{question.answer}}" />
		{% endifequal %}{% ifequal forloop.counter 11 %}
				<select name="question_{{question.pk}}">
					{% for choice in question.choices %}
						<option {%if question.answer == question.choice%}selected{% endif %}>{{choice}}</option>
					{% endfor %}
				</select>
			</div>
			<br/>
			<div style="width:600px;height:20px;float:left;">&nbsp;</div>
		{% endifequal %}

	{% else %}


		{% if question.choices %}
			<strong class="prompt">{{ question.prompt }}</strong>
			<br/>
			<select name="question_{{question.pk}}">
			{% for choice in question.choices %}
				<option {%if question.answer == question.choice%}selected{% endif %}>{{choice}}</option>
			{% endfor %}
			</select>
			<p>
			</p>
			<p>
			</p>
		{% else %}

			{% ifequal question.field_rows 1 %}

			<strong class="prompt">{{ question.prompt }}</strong>
			<input class="question" type="text" name="question_{{question.pk}}" value="{{question.answer}}" />

			{% else %}
			<strong class="prompt">{{ question.prompt }}</strong>
			<textarea class="question" name="question_{{question.pk}}" rows="{{question.field_rows}}">{{question.answer}}</textarea>
			{% endifequal %}

		{% endif %}
	{% endif %}

	{% endfor %}

{% endblock %}