		<div class="dashboard_section">

			<div class="summary">

				<h4>Competition details</h4>

				<p>
				<strong>Name:</strong> {{competition.name}}
				</p>
				<p>
				<strong>Website:</strong> <a href="{{competition.website}}">{{competition.website}}</a>
				</p>

				<p>
				<strong>Pitch form:</strong> <a href="/apply/pitch/{{competition.website}}">View application form</a>
				</p>

				<p>
				<strong>Current phase:</strong> Phase 1 - online application
				</p>
				<p>
				<strong>Next deadline:</strong> 11:59pm, October 31 2010
				</p>


			</div>

		</div>

		<div class="dashboard_section">

			<div class="summary">

				<h4>Manage Applications</h4>

				<p>
				<a href=""><strong>{{competition.applicants.count}}</strong> registered founders</a>
				</p>

				<p>
				<a href=""><strong>{{competition.pitches.count}}</strong> submitted pitches</a>
				</p>

				<p>
				<strong>hh:mm</strong> remaining until pitch submission deadline
				</p>

			</div>

		</div>

		<div class="dashboard_section">

			<div class="summary">

				<h4>Manage Judges</h4>

				<p>
					<a href="">Invite judges</a>
				</p>

				<p>
					<strong>X</strong> confirmed judges, <strong>Y</strong> invited (unconfirmed) judges (<a href="">View all</a>)
				</p>

				<p>
					<strong>Y</strong> judged applications
				</p>

				<p>
					<strong>Z</strong> assessments remain undone
				</p>

			</div>

		</div>






