{% extends 'base.html' %}

{% block header_title %}
Dashboard
{% endblock %}

{% block content %}

	<p>
	<a href="/new_competition">Make a new competition</a>
	</p>

	<h3>Your competitions</h3>
	{% for comp in competitions %}

		<p>
			{{comp}}
		</p>
		<ul>
			<li><a href="/edit_competition/{{comp.pk}}/">Edit setup details</a>
			<li><a href="/apply/admin_widgets/{{comp.pk}}/">Accept pitch applications from your site</a>
			<li><a href="/manage_applicants/{{comp.pk}}/">Manage <b>{{num_applicants}}</b> applicants</a>
			<li><a href="/manage_judges/{{comp.pk}}">Manage <b>{{num_judges}}</b> judges</a>
		</ul>

	{% endfor %}

{% endblock %}