		<div class="dashboard_section">

			<div class="summary">

				<h4>Competition details</h4>

				<p>
				<strong>Name:</strong> {{competition.name}}
				</p>
				<p>
				<strong>Website:</strong> <a href="{{competition.website}}">{{competition.website}}</a>
				</p>

				<p>
				<strong>Pitch form:</strong> <a href="/apply/pitch/{{competition.website}}">View application form</a>
				</p>

				<p>
				<strong>Current phase:</strong> Phase 1 - online application
				</p>
				<p>
				<strong>Next deadline:</strong> {{competition.current_phase.next_deadline|date:"D d M Y P"}}
				</p>


			</div>

		</div>

		<div class="dashboard_section">

			<div class="summary">

				<h4>Manage Applications</h4>

				<p>
				<a href="/dashboard/{{competition.id}}/applicants/"><strong>{{competition.applicants.count}}</strong> registered applicants</a>
				</p>

				<p>
				<a href="/dashboard/{{competition.id}}/phase/{{competition.current_phase.pk}}/pitches/"><strong>{{competition.pitches.count}}</strong> submitted pitches</a>
				</p>

			</div>

		</div>

		<div class="dashboard_section">

			<div class="summary">

				<h4>Manage Judges</h4>

				<p>
					<strong>Judging begins:</strong> {{competition.current_phase.applications_close_judging_open|date:"D d M Y P"}}
				</p>

				<p>
					<a href="">Invite judges</a>
				</p>

				<p>
					<a href="/dashboard/{{competition.id}}/phase/{{competition.current_phase.pk}}/judges/">View all judges:</a>
				<strong>{{competition.current_phase.judges.count}}</strong> confirmed, <strong>{{competition.judge_invitations.count}}</strong> invited & unconfirmed
				</p>

				<p>
					<strong>0</strong> judged applications, <strong>{{competition.current_phase.pitches.count}}</strong> remaining
				</p>


			</div>

		</div>






