<div id="edit_competition_breadcrumbs">

	<div id="step_1" class="step">
		<p class="step_title">
			STEP 1
		</p>
		<p class="step_subtitle">
			Contest details
		</p>
	</div>

	<div id="step_2" class="step">
		<p class="step_title">
			STEP 2
		</p>
		<p class="step_subtitle">
			Applications
		</p>
	</div>

	<div id="step_3" class="step">
		<p class="step_title">
			STEP 3
		</p>
		<p class="step_subtitle">
			Dates & phases
		</p>
	</div>

	<div id="step_4" class="step">
		<p class="step_title">
			STEP 4
		</p>
		<p class="step_subtitle">
			Accept pitches
		</p>
	</div>

</div>