{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="/media/competition/style/index.css" />
{% endblock %}

{% block content %}

	{% load markup %}

	<div id="shout">
		{{ copy.shout|markdown|safe }}
	</div>

	<div id="c2a">
		{% if request.user.is_authenticated %}
		<a href="/dashboard/"><img border=0 src="media/competition/style/images/c2a.png"></a>
		{% else %}
		<a href="/dashboard/new_comp/"><img border=0 src="media/competition/style/images/c2a.png"></a>
		<br/>
		<a href="/accounts/login" class="medium">Already have an account? Log in</a>
		{% endif %}
	</div>
	<!--
	
	<div id="c2a">
		{% if request.user.is_authenticated %}
		<a href="/dashboard/"><input type="button" class="button" value="{{copy.c2a}}"></a>
		{% else %}
		<a href="/dashboard/new_comp/"><input type="button" class="button" value="{{copy.c2a}}"></a>
		<br/>
		<a href="/accounts/login" class="medium">Already have one? Log in</a>
		{% endif %}
	</div>
	
	-->
	
	<div id="video">
	    {{ copy.video|markdown|safe }}
	</div>
	
	<div style="width: 100% clear:both">&nbsp;</div> 

	<div id="testimonials">
    
    {% for testimonial in testimonials %}
            <div id="testimonial_text">
 				<div>
 					<span class="bqstart">&#8220;</span>
 					{{testimonial.text}}
 					<!--<span class="bqend">&#8221;</span>-->	
 					<!--
 					<div style="float:left width: 10%">
 					<img src="media/competition/style/images/quote_open.gif">
 					</div>
 					
 					<div style="float:right width: 40%">
 					{{testimonial.text}}
 					</div>
 					
 					<div style="float:right width: 10%">
 					<img src="media/competition/style/images/quote_close.gif">
 					</div>
 					-->
 				</div>
 				<div id="testimonial_author">
 					<p>{{testimonial.author_name}}</p>
 					<a href={{testimonial.author_url}} target=blank_><img border=0  align=right src="{{testimonial.thumb_url}}"><a>
            	</div>
 			</div>
    {% endfor %}
	</div>
	</div>

	<div id="benefits">
		{{ copy.benefits|markdown|safe }}
	</div>
	
	<div id="features">
		{{ copy.features|markdown|safe }}
	</div>
	
	<div id="roi">
		{{ copy.roi|markdown|safe }}
	</div>

	</div>

</div>

{% endblock %}
