{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="/media/competition/style/index.css" />
{% endblock %}

{% block header_title %}
Biz Pitch Comp
{% endblock %}

{% block content %}

	{% load markup %}

	<div id="benefits">
		{{ copy.benefits|markdown|safe }}
	</div>

	<div id="c2a">
		<a href="/new_competition"><input type="button" class="button"  value="{{copy.c2a}}"></a>
		{% if request.user.is_authenticated %}
		{% else %}
		<br/>
		<a href="/accounts/login" class="medium">Already have one? Log in</a>
		{% endif %}
	</div>

<div id="roi">
		{{ copy.roi|markdown|safe }}
	</div>


	<div id="testimonials">
		<h2>Testimonials</h2>

		<p>
		blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
		</p>

		<p>
		blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
		</p>
	</div>

	<div id="features">
		{{ copy.features|markdown|safe }}
	</div>

	<div id="tour">
			{{ copy.tour|markdown|safe }}
	</div>




{% endblock %}