{% extends 'dashboard/section.html' %}

{% block icon_class %}ui-icon-person{% endblock %}

{% block section_title %}
Your judging stats
{% endblock %}

{% block section_content %}

    <div style="float:left;width:48%" >
        {% include 'judge/ranking.html' %}
        <div style="float:left;clear:both;padding-left:30px;">
        <br/>
            <a class="button" href="/judge/{{competition.hosted_url}}/list/">View all applications & scores</a>
        </div>
    </div>

    <div style="float:left;width:48%;margin-left:10px;">
        <span class="">Click here to go straight to the next pitch that needs judging:</span>
        <br/>
        <div style="float:right"><a class="button" href="/judge/{{competition.hosted_url}}/go/">Begin judging pitches</a></div>
    </div>

    <div class="hr" style="height:10px;">&nbsp;</div>

{% endblock %}
