{% extends 'dashboard/section.html' %}

{% block section_style %}width:65%{% endblock %}

{% block icon_class %}ui-icon-person{% endblock %}

{% block section_title %}
Your judging stats
{% endblock %}

{% block section_content %}

    

    <div style="float:left;">
        {% if judged_pitches %}
            <table>

                <tr style="height:30px;font-weight:bold">
                    <td>Name</td>
                    <td>Score</td>
                </tr>

                {% for judged in judged_pitches %}
                    <tr>
                        <td>
                            <a href="/judge/go/{{judged.id}}/">{{ judged.pitch.owner.name }}</a>
                        </td>
                        <td align="center"> <a href="/judge/go/{{judged.id}}/">{{judged.score}}</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>

        {% else %}

            You haven't yet justed any pitches. <a href="/judge/go">Get started now!</a>

        {% endif %}

    </div>

    <div class="hr">&nbsp;</div>

    <div style="float:left;">
        
        {% include 'judge/ranking.html' %}
        
    </div>

{% endblock %}
