{% extends 'dashboard/section.html' %}

{% block section_class %}half_width{% endblock %}

{% block section_title %}
Your judged pitches
{% endblock %}

{% block section_content %}
    {% if judged %}
    <table>
        <tr>
            <td></td>
            <td>Company</td>
            <td>Score</td>
            <td>Options</td>
        </tr>

        {% for pitch in judged %}

            <tr>
                <td style="text-align:right;">{{ forloop.counter }}.</td>
                <td>{{ pitch.team }}</td>
                <td>{{ pitch.judgement.score }}</td>
                <td><a href="/judge/review/{{pitch.judgement.id}}">View & edit judgement</a></td>
            </tr>

        {% endfor %}
    </table>
    {% else %}
    No pitches judged yet. <a href="/judge/go/">Get started here</a> or choose one from the list to the right.
    {% endif %}

{% endblock %}
