{% extends 'dashboard/section.html' %}

{% block section_class %}half_width{% endblock %}

{% block section_title %}
Your judged pitches
{% endblock %}

{% block section_content %}

    <table>
        <tr>
            <td></td>
            <td>Company</td>
            <td>Score</td>
            <td>Options</td>
        </tr>

        {% for pitch in judged %}

            <tr>
                <td style="text-align:right;">{{ forloop.counter }}.</td>
                <td>{{ pitch.team_name }}</td>
                <td>{{ pitch.judgement.score }}</td>
                <td><a href="/judge/review/{{pitch.judgement.id}}">View & edit judgement</a></td>
            </tr>

        {% endfor %}
    </table>

{% endblock %}
