{% extends 'dashboard/section.html' %}

{% block section_class %}half_width{% endblock %}
{% block section_style %}float:right;{% endblock %}

{% block section_title %}
Un-judged pitches
{% endblock %}

{% block section_content %}

    {% if pitch.phase.pitch_type == 'live pitch' %}
    {% else %}
        <p>
            <input type="checkbox" id="percent_filter" checked="on" />
            <label for="percent_filter">Hide applications which are mostly incomplete</label>
        </p>
        <p>
            <input type="checkbox" id="filter" checked="on" />
            <label for="filter">Hide applications which have already been evaluated by at least {{ competition.current_phase.min_judgements_per_pitch }} other judges</label>
        </p>
    {% endif %}

    <table>
        <tr>
            <th>Company</th>
            <th>Num times<br/>judged</th>
            <th># questions<br/>completed</th>
            <th>Options</th>
        </tr>

        {% for pitch in unjudged %}
            {% if pitch.phase.pitch_type == 'live pitch' %}
            <tr>
            {% else %}
            <tr class="{% if pitch.times_judged >= pitch.phase.min_judgements_per_pitch %}judged_enough{% endif%} {% if pitch.percent < 20 %}incomplete{% endif %}">
            {% endif %}
                <td>{{ pitch.team }}</td>
                <td style="text-align:center;">{{ pitch.times_judged }}</td>
                <td style="text-align:center;">{{ pitch.percent }}%</td>
                <td><a href="/judge/go/{{pitch.id}}">View & judge it</a></td>
            </tr>

        {% endfor %}
    </table>

    <script language="javascript" type="text/javascript">

        $(function () {
            $('#filter').click( function() {
                toggle_filters();
            });
            $('#percent_filter').click( function() {
                toggle_filters();
            });
            toggle_filters();
        });

        function toggle_filters() {
            if (! $("#filter").attr("checked")) {
                $(".judged_enough").show();
            }
            if (! $("#percent_filter").attr("checked")) {
                $(".incomplete").show();
            }

            if ($("#filter").attr("checked")) {
                $(".judged_enough").hide();
            }
            if ($("#percent_filter").attr("checked")) {
                $(".incomplete").hide();
            }
        }

    </script>
{% endblock %}
