{% extends 'dashboard/base.html' %}

{% block ready_script %}

    $("#tab_email").addClass("ui-state-active");
    $("#tab_email").addClass("ui-tabs-selected");

{% endblock %}

{% block jqmWindow %}
{% include 'emailhelper/new_email.html' %}
{% endblock %}

{% block header_title %}
Send & review emails to applicants or judges
{% endblock %}

{% block content %}

    <p>
        <a href="javascript:void(0);" onclick="$('#dialog').jqmShow()" class="button">New email</a>
    </p>

    {% include 'emailhelper/sent_mail.html' %}

{% endblock %}
