{% extends 'dashboard/base.html' %}

{% block script %}

function preview_emails() {

    $("#dialog").jqmShow();

}

{% endblock %}

{% block ready_script %}

    $("#tab_email").addClass("ui-state-active");
    $("#tab_email").addClass("ui-tabs-selected");

    //since we're sending out emails to lots of people, make sure they
    //click something to show they understand what is happening and
    //actually want to go ahead with it.
    $("#confirm").click( function() {
        if ( $(this).is(":checked") ) {
            $("#submit").button("enable");
        }
        else {
            $("#submit").button("disable")
        }
    });
{% endblock %}

{% block jqmWindow %}

    {% load markup %}

    <div id="dialogHeader">
        <div style="float:left">
            {% if email.sent_on_date %}
            <h3>Review sent mail</h3>
            {% else %}
            <h3>Review emails before sending them</h3>
            {% endif %}
        </div>
        <div style="float:right;margin-right:16px;">
            <a href="javascript:void(0);" onclick="$('#dialog').jqmHide();" class="button">Close popup</a>
        </div>
    </div>
    <div id="jqmContent" style="overflow-x:hidden;overflow-y:auto;">
        {% for message in email.preview_messages %}

            <strong>To:</strong> {{ message.to_email }}
            <br/>
            {{ message.body|markdown }}

            <hr>

        {% endfor %}
    </div>
{% endblock %} 

{% block content %}

    {% load markup %}

    <form action="" method="POST">

        <p>
            <strong>Subject</strong> {{ subject }}
            <br/>
            <strong>From</strong> {{ from_email }}
        </p>

        <p>
            <strong>To:</strong>
            {% for recipient in email.recipients %}
                <span style="margin-right:12px;">{{recipient}}</span>
            {% endfor %}
        </p>

        <p>
            <strong>Message</strong>
            <br/>
            {{ email.message_markdown|markdown }}
        </p>

        <p>
            {% if email.sent_on_date %}
                <a href="javascript:void(0);" onclick="preview_emails()">Review emails</a>
            {% else %}
                <a href="javascript:void(0);" onclick="preview_emails()">Preview emails</a>
            {% endif %}
        </p>

        {% if email.sent_on_date %}
        {% else %}
            <input type="checkbox" id="confirm" name="confirm" />
            {% if confirm_warning %}
                <label for="confirm">{{ confirm_warning|safe }}</label>
            {% else %}
                <label for="confirm">Click here to confirm you've <a href="javascript:void(0);" onclick="preview_emails()">previewed</a> the emails and are happy sending this message to <strong>{{email.recipients|length}}</strong> recipients.</label>

            {% endif %}

            <input id="submit" type="submit" disabled="disabled" class="button" value="Send emails now">

        {% endif %}

        <br/>


    </form>

{% endblock %}
