{% extends 'dashboard/base.html' %}

{% block ready_script %}

    $("#tab_email").addClass("ui-state-active");
    $("#tab_email").addClass("ui-tabs-selected");

    //since we're sending out emails to lots of people, make sure they
    //click something to show they understand what is happening and
    //actually want to go ahead with it.
    $("#confirm").click( function() {
        if ( $(this).is(":checked") ) {
            $("#submit").button("enable");
        }
        else {
            $("#submit").button("disable")
        }
    });
{% endblock %}

{% block content %}
{% include 'emailhelper/review_email_section.html' %}
{% endblock %}
