<label for="date">Date</label>

<input type="text" id="date_{{forloop.counter}}" name="date" />

<script language="javascript" type="text/javascript">

	$(function() {

		$( "#date_{{forloop.counter}}" ).datepicker();
		$( "#date_{{forloop.counter}}" ).datepicker( "option", "dateFormat", "DD, d MM, yy" );

		$( "#date_{{forloop.counter}}" ).val($( "#initial_date_holder_{{forloop.counter}}" ).val());

		$( "#hour_{{forloop.counter}}" ).change( update_am_pm_{{forloop.counter}} );
		$( "#hour_{{forloop.counter}}" ).val("{{phase.deadline.hour}}");

        var m = {{phase.deadline.minute}};
        if (m != 0 &&  m != 15 && m != 30 && m != 45 && m != 59) {
            m = 0;
        }
		$( "#minute_{{forloop.counter}}" ).val(m);

		update_am_pm_{{forloop.counter}}();
	});

	function update_am_pm_{{forloop.counter}}(count) {
		if ( parseInt($( "#hour_{{forloop.counter}}" ).val()) <= 11 ) {
			$( "#am_pm_{{forloop.counter}}" ).text("am");
		}
		else {
			$( "#am_pm_{{forloop.counter}}" ).text("pm");
		}
	}

</script>

<br/>

<input type="hidden" id="initial_date_holder_{{forloop.counter}}" value="{{phase.deadline|date:'l, j F, Y'}}" />

<label for="hour_{{forloop.counter}}">Time: </label>
<select name="hour" id="hour_{{forloop.counter}}">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">Noon</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
</select>:<select name="minute" id="minute_{{forloop.counter}}">
    <option value="0">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
    <option value="59">59</option>
</select>
<span id="am_pm_{{forloop.counter}}">pm</span> (GMT)
