<label for="date">Date</label>

<input type="text" id="date" name="date" />

<script language="javascript" type="text/javascript">

	$(function() {

		$( "#date" ).datepicker();
		$( "#date" ).datepicker( "option", "dateFormat", "DD, d MM, yy" );
		//$( "#date" ).val("{{phase.deadline_date_js}}");

		$( "#date" ).val($( "#initial_date_holder" ).val());

		$( "#hour" ).change( update_am_pm );
		$( "#hour" ).val("{{phase.deadline.hour}}");

		$( "#minute" ).val("{{phase.deadline.minute}}");

		update_am_pm();

	});

	function update_am_pm() {
		if ( parseInt($( "#hour" ).val()) <= 11 ) {
			$( "#am_pm" ).text("am");
		}
		else {
			$( "#am_pm" ).text("pm");
		}
	}

</script>

<br/>

<input type="hidden" id="initial_date_holder" value="{{phase.deadline|date:'l, j F, Y'}}" />

<label for="hour">Time: </label>
<select name="hour" id="hour">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">Noon</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
</select>:<select name="minute" id="minute">
    <option value="0">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
    <option value="59">59</option>
</select>
<span id="am_pm">pm</span> (GMT)