<div class="edit_application_question">

    <h4>Question #{{forloop.counter}}</h4>

    Question prompt (what you want to ask the applicant):
    <br/>
    <textarea name='old_question_prompt_{{question.id}}' class='question_prompt_field' rows='3'>{{question.prompt}}</textarea>
    <br/>

    <!--<label for="show_choices_{{question.id}}">Applicant should upload a file</label>-->

    <input {% if question.raw_choices %}{% else %}checked{% endif %} id="answer_text_{{question.id}}" onclick="$('#choices_div_{{question.id}}').slideUp();" type="radio" name="answer_type_{{question.id}}" value="text"/>
    <label for="answer_text_{{question.id}}">Applicant should write answer as text</label>
    <br/>

    <input {% if question.raw_choices %}checked{% else %}{% endif %} id="answer_choices_{{question.id}}" onclick="$('#choices_div_{{question.id}}').slideDown();$('#choices_{{question.id}}').focus();" type="radio" name="answer_type_{{question.id}}" value="dropdown"/>
    <label for="answer_choices_{{question.id}}">Applicant should select answer from a dropdown</label>
    <br/>

    <div id="choices_div_{{question.id}}" style="margin-left:24px;" class="medium interactive{% if question.raw_choices %}{% else %} hidden{% endif %}">
            Answer drop-down choices (type one option per line, which the applicant will select between):
            <br/>
            <textarea rows=5 style="width:400px;" id="choices_{{question.id}}" name="choices_{{question.id}}">{{question.raw_choices}}</textarea>
    </div>

</div>

