


<input type="checkbox" id="step_0" />
<label for="step_0" {% if phase.setup_step > 0 %}class="strikethrough"{% endif %}>
	Confirm phase details and dates
</label>

<br/>

{% if phase.pitch_type == "online" %}

	<input type="checkbox" id="step_1" />
	<label for="step_1" {% if phase.setup_step > 1 %}class="strikethrough"{% endif %}>
		Add application questions and judging criteria
	</label>

	<br/>

	<input type="checkbox" id="step_2" />
	<label for="step_2" {% if phase.setup_step > 0 %}class="strikethrough"{% endif %}>
		Announce applications are now open
	</label>
	<a {% if phase.setup_step > 0 %}class="hidden"{% endif %} href="">Do this now</a>

	<br/>

{% else %}

	<input type="checkbox" id="step_1a" />
	<label for="step_1a" {% if phase.setup_step > 0 %}class="strikethrough"{% endif %}>
		Send reminder & info for live pitch
	</label>
	<a {% if phase.setup_step > 0 %}class="hidden"{% endif %} href="">Do this now</a>

	<br/>

{% endif %}

<input type="checkbox" id="step_3" />
<label for="step_3" {% if phase.setup_step > 0 %}class="strikethrough"{% endif %}>
	Invite judges
</label>

<br/>

{% if phase.pitch_type == "online" %}

	<input type="checkbox" id="step_4" />
	<label for="step_4" {% if phase.setup_step > 0 %}class="strikethrough"{% endif %}>
		Announce that judging is now open
	</label>

	<br/>

{% else %}

	<input type="checkbox" id="step_4a" />
	<label for="step_4a" {% if phase.setup_step > 0 %}class="strikethrough"{% endif %}>
		Send event reminder to judges & collect scores
	</label>

	<br/>

{% endif %}

<input type="checkbox" id="step_5" />
<label for="step_5" {% if phase.setup_step > 0 %}class="strikethrough"{% endif %}>
	Select winners and send feedback
</label>

<br/>


<script language="javascript" type="text/javascript">

	$(function () {
		$(":checkbox").click( function() {
			if ($(this).attr("checked")) {
				$(this).next().addClass("strikethrough");
			}
			else {
				$(this).next().removeClass("strikethrough");
			}
		});
	});

</script>