{% extends 'dashboard/section.html' %}

{% block section_title %}
Applicants and Pitches
{% endblock %}

{% block icon_class %}ui-icon-document{% endblock %}

{% block section_content %}
    
    <div class="half_width">

        <div class="stat_number">
            Num applicants
            <h1>{{phase.applicants.count}}</h1>
       </div>

        <div class="stat_number">
            Num Pitches
            <h1>{{phase.pitches.count}}</h1>
        </div>
        
        <div class="hr" style="height:30px;">&nbsp;</div>


        <h3 style="float:left;">Pitch submission times</h3>
        <div id="pitches_over_time" style="float:left;width:100%;height:150px"></div>
    </div>

    <div class="half_width">

        <h3>Last 10 applications</h3>

        <table>
            <tr>
                <th>Team</th>
                <th>Time</th>
            </tr>

            {% for pitch in competition.current_phase.pitches.all %}

                <tr>
                    <td>{{pitch.team}}</td>
                    <td>{{pitch.created}}</td>
                </tr>

            {% endfor %}

        </table>

        <p>
        <a class="button" href="/dashboard/{{competition.id}}/phase/{{phase.id}}/pitches/">View all</a>
        </p>


    </div>

	<script language="javascript" type="text/javascript">

		$(function() {

			var d = [];
			var total = 0;
			var earliest = 0;

			{% for pitch in phase.pitches.all %}

				d.push( [ {{ pitch.created_ms }} , total]);
				total = total + 1;
				if (earliest == 0 || {{ pitch.created_ms }} < earliest) {
					earliest = {{ pitch.created_ms }};
				}

			{% endfor %}

			//empty entry one day before first one so we have a growth ramp
			d.splice(0, 0, [earliest-1000*60*60*6, 0]);

			$.plot($("#pitches_over_time"),
				[{ data: d,
					lines: { show:true },
				}],
				{
					xaxis: {
						mode: "time",
						minTickSize: [6, "hour"]
					},
					yaxis: {
						min: 0,
						minTickSize: 1
					}
				}
			);

		});

	</script>

{% endblock %}
