{% extends 'dashboard/section.html' %}

{% block section_title %}
Applicants and Pitches
{% endblock %}

{% block icon_class %}ui-icon-document{% endblock %}

{% block section_content %}
    
    <div class="half_width">
        
        <div class="stat_number">
            Num Pitches
            <h1>{{phase.pitches.count}}</h1>
        </div>

        <div class="stat_number">
            Application status
            <h1>
            {% if phase.is_applications_open %}
            OPEN
            {% else %}
            CLOSED
            {% endif %}
            </h1>
            <a href="">Preview application</a>
        </div>

        <a href="" style="float:left;" class="button">View app</a>

        <div class="hr">&nbsp;</div>


        <h3 style="float:left;">Pitch submission times</h3>
        {% include 'dashboard/charts/pitch_submission_times.html' %}

        <h3 style="float:left;">Applicant funnel by phase</h3>
        {% include 'dashboard/charts/applicant_funnel.html' %}

    </div>

    <div class="half_width">

        <div class="hr">&nbsp;</div>
        <div style="float:left;">

            <h3 >Last 10 applications</h3>

            <table>
                <tr>
                    <th>Team</th>
                    <th>Time</th>
                </tr>

                {% for pitch in competition.current_phase.pitches.all %}

                    <tr>
                        <td>{{pitch.team}}</td>
                        <td>{{pitch.created}}</td>
                    </tr>

                {% endfor %}

            </table>

            <p>
            <a class="button" href="/dashboard/{{competition.id}}/phase/{{phase.id}}/pitches/">View all</a>
            </p>
        </div>

    </div>

{% endblock %}
