{% extends 'dashboard/section.html' %}

{% block section_title %}
Scores
{% endblock %}

{% block icon_class %}ui-icon-person{% endblock %}

{% block section_content %}

    {% if competition.is_judging_open %}

        <div class="half_width">
            <div class="stat_number">
                Num Judges
                <h1>{{competition.judge_invitations.count}}</h1>
            </div>

            <a style="float:left;" class="button" href="javascript:void(0);" onclick="popup('/dashboard/phase/{{phase.id}}/judges/');">View & invite more judges</a>

            <div class="hr">&nbsp;</div>

            <div class="stat_number">
                Pitches judged
                <h1>{{ phase.judgements.count }}</h1>
            </div>

            <div class="stat_number">
                Pitches remain
                <h1>{{ phase.pitches_to_judge.count }}</h1>
                <a href="/judge/{{competition.hosted_url}}/">Judge now</a>
            </div>

            <div class="hr">&nbsp;</div>

            <h3 style="float:left;">Score Distribution</h3>

            {% include 'dashboard/charts/score_distribution.html' %}

        </div>

        <div style="half">

            <h3>Recent scores
                <span class="medium"><a href="javascript:void(0);" onclick="popup('/dashboard/data/table/{{competition.hosted_url}}/?view=all_pitches&phase_{{phase.phase_num}}=on');">View all</a></span>
            </h3>

            <table>
                <tr>
                    <th>Team</th>
                    <th>Score</th>
                    <th>Judge</th>
                    <th>Time</th>
                </tr>

                {% for judgement in recent_judgements %}

                    <tr>
                        <td>{{judgement.pitch.team}}</td>
                        <td class="number"><a href='/judge/review/{{judgement.id}}/'>{{judgement.score}}</a></td>
                        <td>{{judgement.judge}}</td>
                        <td>{{judgement.timestamp|date}}</td>
                    </tr>

                {% endfor %}

            </table>

        </div>
    {% else %}

        <p style="width:70%;float:left;">
        Judging for this phase is not yet open. Once the application deadline has passed and you've invited your judges, click this button to alert the judges.
        </p>

        <p style="float:left;">
            <a href="/dashboard/{{competition.hosted_url}}/begin_judging/" class="button">Begin judging</a>
        </p>

    {% endif %}

{% endblock %}
