{% extends 'dashboard/section.html' %}

{% block section_title %}
Scores
{% endblock %}

{% block icon_class %}ui-icon-person{% endblock %}

{% block section_content %}

    {% if competition.is_judging_open %}

        <div class="half_width">
            <div class="stat_number">
                Num Judges
                <h1>{{competition.judge_invitations.count}}</h1>
            </div>

            <a style="float:left;" class="button" href="/dashboard/{{competition.id}}/phase/{{phase.id}}/judges/">View & invite more judges</a>

            <div class="hr">&nbsp;</div>

            <div class="stat_number">
                        Pitches Judged
                        <h1>{{ phase.judgements|length }}</h1>
                    </div>

            <div class="stat_number">
                Pitches Remain
                <h1>{{phase.pitches_to_judge|length}}</h1>
            </div>

            <div class="hr">&nbsp;</div>

            <h3 style="float:left;">Score Distribution</h3>

            {% include 'dashboard/charts/score_distribution.html' %}

        </div>

        <div style="half">

            <h3>Last 10 scores</h3>

            <table>
                <tr>
                    <th>Team</th>
                    <th>Score</th>
                    <th>Judge</th>
                </tr>

                {% for judgement in competition.judgements %}

                    <tr>
                        <td>{{judgement.pitch.team}}</td>
                        <td>{{judgement.score}}</td>
                        <td>{{judgement.judge}}</td>
                    </tr>

                {% endfor %}

            </table>

            <a href="" class="button">Announce winners</a>

        </div>
    {% else %}

        <p style="width:70%;float:left;">
        Judging for this phase is not yet open. Once the application deadline has passed and you've invited your judges, click this button to alert the judges.
        </p>

        <p style="float:left;">
            <a href="" class="button">Begin judging</a>
        </p>

    {% endif %}

{% endblock %}
