{% extends 'base.html' %}

{% block meta %}
    <link rel="stylesheet" type="text/css" href="/media/competition/style/dashboard.css" />
{% endblock %}

{% block logo %}
{% endblock %}

{% block header %}
	{% include 'judge/header.html' %}
{% endblock %}

{% block header_title %}
Now judging {{competition}}
{% endblock %}

{% block content %}

	{% load markup %}

	{{ block.super }}

    {% include 'judge/widgets/judge_stats.html' %}

    {% include 'judge/widgets/overview.html' %}
{% endblock %}
