{% extends competition.template_base %}

{% block content %}

{% load markup %}

{{ block.super }}

<form action="." method="POST">

	{% for question in questions %}

		<input type="hidden" name="pitch" value="{{pitch.pk}}" />

		<div class="judge_question" style="float:left;width:760px;margin-bottom:20px;">

			<div class="application" style="float:left;width:400px;">

				<strong class="prompt">{{ question.prompt }}</strong>
				<br/>
				<div style="width:100%;border:1px solid #ccc;padding:8px;background-color:#eee;">
				{% if question.answer.answer %}
					{{question.answer.answer|markdown}}
				{% else %} {% if question.is_required %}
					(no answer)
				{% endif %}{% endif %}
				</div>

			</div>

			<div class="judging" style="float:left;width:150px;margin-left:25px;margin-top:8px;">
				{% if question.is_required and question.answer.answer %}
				<strong>Score:</strong> <select name="answer_{{question.answer.id}}">
					{% for score in scores %}
						{% if score <= question.max_points %}
						<option value="{{score}}">{{score}}</option>
						{% endif %}
					{% endfor %}
				</select>
				{% endif %}

			</div>

		</div>

	{% endfor %}

	<p>
	<strong class="prompt">Additional feedback:</strong>
	<br/>
	<textarea name="feedback" rows="8" style="width:600px"></textarea>
	</p>
	<p>
	<input type="submit" value="Submit scores & feedback" style="font-size:18px;" />
	</p>



</form>

{% endblock %}