<div id="header">

    <span class="medium">
    {% block breadcrumbs %}

        <a href="/dashboard/">Dashboard</a> &gt; <a href="/judge/{{competition.hosted_url}}/">{{competition}}</a> 
    
        {% if pitch %}
            &gt; <a href="/judge/go/{{pitch.id}}"/>{{pitch.team}}</a> 
        {% endif %}

    {% endblock %}
    </span>
    <br/>

    {% if competition.logo %}
        <img src="{{ competition.logo_url }}" /> 
    {% else %}
        <a href="/"><img border=0 src="/media/logo.png" style="height:12px;"></a>
    {% endif %}

    <div id="account_controls" class="medium">

        <div style="float:right;text-align:right;margin-left:50px;">
            {% if request.user.is_authenticated %}

            <a href="/judge/{{competition.hosted_url}}/">Back to judging</a>
            <br/>
            
            <a href="/dashboard/">Your dashboard</a>
            <br/>
            
            <a href="/accounts/logout/">Log out</a>

            {% else %}

                <a href="/accounts/login/?next=/judge/">Log in</a>

            {% endif %}
        </div>

        <div style="float:right;"> 
            {% include 'judge/ranking.html' %}
        </div>

    </div>


</div>
