{% extends 'base.html' %}

{% block meta %}
<script language="javascript" type="text/javascript" src="http://www.scribd.com/javascripts/view.js"></script>
{% endblock %}

{% block header %}
	{% include 'judge/judging_header.html' %}
{% endblock %}

{% block script %}

    $(function() {
        $('.slider').slider({
            animate: true,
            max: {{max_score}},
            range: 'min',
        });

        {% for criteria in judging_criteria %}
            {% if criteria.max_points %}
                $('#slider_{{criteria.id}}').slider('option', 'max', {{criteria.max_points}});
                max_points[{{criteria.id}}] = {{criteria.max_points}};
                total_points += {{criteria.max_points}};
                {% if criteria.answer.score %}
                    $('#slider_{{criteria.id}}').slider('option', 'value', {{criteria.answer.score}});
                    $('#score_label_{{criteria.id}}').val({{criteria.answer.score}});
                {% else %}
                    $('#slider_{{criteria.id}}').slider('option', 'value', 0);
                    $('#score_label_{{criteria.id}}').val(0);
                {% endif %}
            {% endif %}
        {% endfor %}

        var current_score = 0;
        $('.score_field').each(function() {
            current_score += Number($(this).val());
        });
        $("#current_score").text(current_score + "/" + total_points);

        $('.slider').bind('slidechange', slider_changed);
        $('.slider').bind('slide', slider_changed);

        $('.score_field').bind('change', score_field_changed);
        //$('.score_field').bind('select', score_field_changed);
        //$('.score_field').bind('keydown', score_field_changed);

        $(window).resize(window_resize);
        window_resize(null);
    });

    var total_points = 0;
	var max_points = [];

    function window_resize(event) {

        var height = $(window).height() - $("#header").height() - $("#footer").height() - 10*6;

        $("#pitch_container").css("height", height + "px");

    }

    function score_field_changed(event, ui) {
		var tokens = $(this).attr("id").split('_');
		var id = tokens[tokens.length - 1];

		var val = $('#score_label_' + id).val();
        $("#slider_" + id).slider("option", "value", val);
    }

	function slider_changed(event, ui) {
		var tokens = $(this).attr("id").split('_');
		var id = tokens[tokens.length - 1];

		$('#score_label_' + id).val($(this).slider("option", "value"));

        var current_score = 0;
        $('.score_field').each(function() {
            current_score += Number($(this).val());
        });
        $("#current_score").text(current_score + "/" + total_points);
	}

{% endblock %}

{% block style %}

#body {
    width:1024px;
}
#header, #footer, #content, #content_outer {
    width:1008px;
}

.judging_criteria_container {
float:right;
}

#pitch_container {
    background-color:#fafafa;
    border:1px solid gray;
}

{% endblock %}

{% block content %}

    <form class="focus" action="." method="POST">

        <input type="hidden" name="pitch" value="{{pitch.id}}" />

        <div id="pitch_container" style="overflow-y:auto;width:760px;float:left;">
            {% include 'dashboard/display_pitch.html' %}
        </div>

        <div class="judging_criteria_container">

        {% for criteria in judging_criteria %}

            <div class="judging_criteria">

                {{criteria.prompt}}

                <br/>

                {% if criteria.is_text_feedback %}

                    <textarea class="judge_feedback" rows=6 name="feedback_{{criteria.id}}" >{{criteria.answer.feedback}}</textarea>

                {% else %}

                    <div class="slider" id="slider_{{criteria.id}}"></div>
                    <div class="score_input">
                        <input type="number" min="0" max="{{criteria.max_points}}" id="score_label_{{criteria.id}}" value="{{question.score}}" class="score_field" name="score_{{criteria.id}}" />
                        <img style="float:left" src="/media/icons/help.png" title="{% if criteria.scoring_tooltip %}{{criteria.scoring_tooltip}}{% else %}{{competition.current_phase.scoring_tooltip}}{% endif %}">
                    </div>

                    <br/>

                {% endif %}

            </div>

        {% endfor %}

        <div class="stat_number">
            Total score
            <h1 id="current_score"></h1>
        </div>

        <input style="float:right;margin-top:8px;height:40px;" type="submit" value="Save score" class="large button" />

        </div>

    </form>

{% endblock %}
