{% extends 'base.html' %}

{% block meta %}
<script language="javascript" type="text/javascript" src="http://www.scribd.com/javascripts/view.js"></script>
{% endblock %}

{% block header %}

	{% include 'judge/judging_header.html' %}

{% endblock %}

{% block header_title %}
Now judging {{competition}}
{% endblock %}

{% block script %}

    $(function() {
        $('.slider').slider({
            animate: true,
            max: {{max_score}},
            range: 'min',
        });

        {% for criteria in competition.current_phase.judgingcriteria_set.all %}
            {% if criteria.max_points %}
                $('#slider_{{criteria.id}}').slider('option', 'max', {{criteria.max_points}});
                max_points[{{criteria.id}}] = {{criteria.max_points}};
                {% if question.score %}
                    $('#slider_{{criteria.id}}').slider('option', 'value', {{question.score}});
                {% else %}
                    $('#slider_{{criteria.id}}').slider('option', 'value', 0);
                {% endif %}
            {% endif %}
        {% endfor %}

        $('.slider').bind('slidechange', slider_changed);
        $('.slider').bind('slide', slider_changed);
    });

	var max_points = [];

	function slider_changed(event, ui) {
		var tokens = $(this).attr("id").split('_');
		var id = tokens[tokens.length - 1];

		$('#score_label_' + id).val($(this).slider("option", "value"));
	}

{% endblock %}

{% block style %}

#body {
    width:1024px;
}
#header, #footer, #content, #content_outer {
    width:1008px;
}

    

{% endblock %}

{% block content %}

    <div style="width:760px;float:left;">
        {% include 'dashboard/display_pitch.html' %}
    </div>

    <div style="width:230px;float:left;">

        judging section

        {% for criteria in competition.current_phase.judgingcriteria_set.all %}

            {% if criteria.is_text_feedback %}

                <textarea name="feedback_{{criteria.id}}" ></textarea>

            {% else %}

                <div class="slider" id="slider_{{criteria.id}}"></div>
                <div class="score_input">
                    <input type="number" min="0" max="{{criteria.max_points}}" id="score_label_{{criteria.id}}" value="{{question.score}}" class="score_field" name="answer_{{criteria.id}}" />
                </div>

            {% endif %}

        {% endfor %}

    </div>




{% endblock %}
