td {
    border-bottom:1px solid #ccc;
    padding: 0px 4px 0px 4px;
}

td.number {
    padding-right:18px;
    text-align:right;
}

.strikethrough, del {
    text-decoration: line-through;
}


/***** layout ********/

.hr {
    float:left;
    clear:both;
    width:100%;
    height:1px;
}

body, #header, #footer { 
	position:relative;
}

#body {
	width:796px;
	margin: 0px auto;
	text-align:left;
}

#header, #footer, #content {
	float:left;
	clear:both;
	padding:8px;
	width:780px;
}

#footer {
	color:#999999;
}

#content_outer, #content_inner {
    float:left;
	padding:0px;
	margin:0px;
}
#content_outer {
    width:780px;
}

#account_controls {
	position:absolute;
	top:0px;
	right:0px;
}

.upload_prompt_field, .question_prompt_field {
	width:744px;
}

#header {
    position:relative;

}

#header #title {
    float:left;
    font-size:12px;
}

#header #account {
    float:right;
    font-size:12px;
}

#header #extras {
    float:right;
}

.stat_number {
    //color: #EB8F00;
    float:left;
    font-size:12px;
    text-align:center;
    padding: 0px 8px;
    margin-bottom:8px;
}
.stat_number h1 {
    color: #000;
    font-size:48px;
    margin:-12px 0px -12px 0px;
    padding:0px;
}

h1 sup {
    font-size:24px;
    margin: 0px;
    padding:0px;
}



/***** judge stuff *****/

div.slider {
    width:180px;
    float:left;
    margin-right:10px;
    margin-top:6px;
}

.score_input {
    width:50px;
    height:0px;
    display:inline;
}
.score_input input {
    width:50px;
}
.judging textarea {
    width:240px;
}
.judge_question {
    margin-bottom:20px;
    float:left;
}
.judge_application {
    float:left;
    width:500px;
}

.judging {
    float:left;
    margin-left:25px;
    margin-top:8px;
}



/***** misc *******/
.hidden {
    display:none;
}



/***** text ********/

body {
    font-size:14px;
    font-family: 'Droid Sans';
	color: #A9A9A9;
	line-height:150%
}

.medium {
	font-size:12px;
}

.large {
    font-size:18px;
}

.button {
}

h1, h2 {
	margin:0px;
	padding:0px;
	font-style:italic;
	color: #333333;
	line-height:120%
}

h4 {
    font-size:14px;
}

strong {
    color: #3062C4;
}

.silver {
	color: #A9A9A9;
}

/***** horizontal rule ********/

.funk {
	height:20px;
	background: url(images/hr.png) no-repeat scroll center;
	border:none;
}

/***** lists ********/

ul {
    list-style-type:none;
}

li {
    padding-left:25px;
    background:transparent url(images/bullet.png) no-repeat;

}

/***** forms ********/

.question {
	width: 600px;
	border: 1px solid #CCCCCC;
	padding: 5px;
	margin-bottom: 20px;
}

.input_prompt {
    width:120px;
    float:left;
    padding-top:8px;
}

.prompt {
	float: left;
	clear:both;
}

th {
    padding-left:8px;
    padding-right:8px;
}

