/***** layout ********/

body, #header, #footer { 
	position:relative;
}

body {
text-align:center;
}
#body {
	width:760px;
	margin: 0px auto;
	text-align:left;
}

#header, #footer, #content {
	float:left;
	clear:both;
	padding:8px;
}

#content_outer, #content_inner {
	float:left;
}

#account_controls {
	position:absolute;
	top:0px;
	right:0px;
}

#content, #header, #footer {
	float:left;
}

/***** misc *******/
.hidden {
	display:none;
}



/***** text ********/

body {
	font-size:16px;
}

.medium {
	font-size:12px;
}

.large, .button {
	font-size:18px;
}

.button {
	height:42px;
	padding-left:20px;
	padding-right:20px;
}

h1, h2 {
	margin:0px;
	padding:0px;
}

/***** forms ********/

.question {
	width: 600px;
	border: 3px solid #cccccc;
	padding: 5px;
	margin-top: 20px;
}

#prompt {
	font-size:24;
}