
/***** layout ********/

.hr {
    float:left;
    clear:both;
    width:100%;
    height:1px;
}

body, #header, #footer { 
	position:relative;
}

body {
text-align:center;
}
#body {
	width:796px;
	margin: 0px auto;
	text-align:left;
}

#header, #footer, #content {
	float:left;
	clear:both;
	padding:8px;
	width:780px;
}

#footer {
	color:#999999;
}

#content_outer, #content_inner {
	float:left;
	padding:0px;
	margin:0px;
}
#content_outer {
    width:780px;
}

#account_controls {
	position:absolute;
	top:0px;
	right:0px;
}

.upload_prompt_field, .question_prompt_field {
	width:744px;
}

#header {
    position:relative;

}

#header #title {
    float:left;
    font-size:12px;
}

#header #account {
    float:right;
    font-size:12px;
}

#header #extras {
    float:right;
}

.stat_number {
    //color: #EB8F00;
    float:left;
    font-size:12px;
    text-align:center;
    padding: 0px 8px;
}
.stat_number h1 {
    color: #000;
    font-size:48px;
    margin:-12px 0px 0px 0px;
    padding:0px;
}

h1 sup {
    font-size:24px;
    margin: 0px;
    padding:0px;
}


/***** misc *******/
.hidden {
    display:none;
}



/***** text ********/

body {
    font-size:12px;
    font-family: Verdana, Geneva, sans-serif;
}

.medium {
	font-size:12px;
}

.large {
    font-size:18px;
}

.button {
}

h1, h2 {
	margin:0px;
	padding:0px;
}

h4 {
    font-size:14px;
}

strong {
    color: #EB8F00;
}



/***** forms ********/

.question {
	width: 600px;
	border: 1px solid #cccccc;
	padding: 5px;
	margin-bottom: 20px;
}

.input_prompt {
        width:142px;
        margin-right:8px;
        float:left;
}

.prompt, .input_prompt {
	font-size: 12px;
}
