.dashboard_section {
    float:left;
    position:relative;
    width:650px;
    clear:both;
    margin-bottom:16px;
}

.dashboard_section .summary {
    float:left;
    width: 634px;
    padding:8px;
}

#navbar {
    float:left;
    width:110px;
    padding:0px 8px 0px 0px;
}

#navbar button, #navbar .button, #navbar label {
    width: 100%;
    margin: 0px 0px 2px 0px;
}

#tab_contents {
    float:left;
    width:650px;
}