.dashboard_section {
	float:left;
	position:relative;
	width:760px;
	clear:both;
	margin-bottom:16px;
}

.dashboard_section h4 {
	width:572px;
	background-color:#ddf;
	margin:0px;
}

.dashboard_section .summary {
	float:left;
	width: 572px;
	background-color:#eef;
}

.dashboard_section .controls {
	float:left
	width:180px;
}

body {

	font-size:12px;
}

h4 {

	font-size:14px;
}