.dashboard_section {
    float:left;
    position:relative;
    width:100%;
    margin-bottom:16px;
}

.half_width {
    float:left;
    width:48%;
}

.dashboard_section .summary {
    padding:8px;
}

#navbar {
    float:left;
    width:110px;
    padding:0px 8px 0px 0px;
}

#navbar button, #navbar .button, #navbar label {
    width: 100%;
    margin: 0px 0px 2px 0px;
}

#tab_contents {
    float:left;
    width:650px;
}

.subsection {
//    border: 1px solid grey;
//    background-color: #fff;
}

.subsection p {
    padding-left: 30px;
}
