/***** layout ********/

#benefits {
	width:100%;    
}

#features {
    float:left;
    width:45%;
}

#roi {
    float:right;
    width:45%;
}

#shout {
    float:left;
    width:60%;
    /**width:480px;**/
}

#testimonials {
	margin-top: 10px;
	margin-bottom: 40px;
	float:left;
    width:100%;
    background:#EEEEEE;
}

#testimonial_text {
    width:90%;
    margin:5%;
}

#testimonial_author {
	text-align: right;
	font-weight: bold;
}

#benefits, #roi, #tour, #features {
    padding: 0px;
    margin: 2%;
}

#c2a {
    margin-top:10px;
	margin-bottom:10px;
	float:right;
    width:40%;
}

#video {
    float:right;
    width:39%;
    margin-left:1%;
}

/**
#c2a .button {
    height:100px;
    width:300px;
	font-family: Bank Gothic, Droid Sans;
	font-size:1.5em;
}
**/

/***** fonts ********/

#huge {
	font-size:5em;
	font-family: Droid Sans;
	line-height:1;
	color:#999999;
}

/***** blockquotes ********/

.bqstart {
     float: left;
     height: 45px;
     /**
     margin-top: -20px;
     padding-top: 45px;
     margin-bottom: -50px;
     **/
     font-size: 700%;
     font-family: Arial, Verdana;
     color: #666666;
 }

 /**
 .bqend {
     float: right;
     height: 25px;
     margin-top: 0px;
     padding-top: 25px;
     font-family: Arial, Verdana;
     font-size: 700%;
     color: #666666;
 }
**/

/***** lists ********/

ul {
    list-style-type:none;
}

li {
    padding-left:25px;
    background:transparent url(images/bullet.png) no-repeat;
}