
@font-face {
    font-family: 'Josefin Sans Std Light';
    font-style: normal;
    font-weight: normal;
    src: local('Josefin Sans Std Light'), local('JosefinSansStd-Light'), url('http://themes.googleusercontent.com/font?kit=doRWK9Qks0OQGenH-kW8nh9XlKRhh604dnNYUPyQQcrr7w4p9aSvGirXi6XmeXNA') format('woff');
}

@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Serif'), local('DroidSerif'), url('http://themes.googleusercontent.com/font?kit=0AKsP294HTD-nvJgucYTaLrIa-7acMAeDBVuclsi6Gc') format('woff');
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/font?kit=s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0') format('woff');
}

.c2a {
    display: inline;
    display: none;

    float: left;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    font-size: 26px;
    line-height: 1.8em;
    padding: .3em 10px;
    width:200px;
    text-align:center;
    border-width: 1px;
    background-color: #52A600;
    background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#78D51D),color-stop(100%,#437710));
    background-image: -moz-linear-gradient(top,#78D51D 0,#437710 100%);
    background-image: linear-gradient(top,#78D51D 0,#437710 100%);
    border-color: #2C4F0B;
    text-shadow: #132600 0 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.325) 0 0 .1em 1px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.325) 0 0 .1em 1px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.325) 0 0 .1em 1px inset;
    box-shadow: rgba(255, 255, 255, 0.325) 0 0 .1em 1px inset;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0 0 0 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    font-family: "Helvetica Neue",arial,helvetica,sans-serif;

    text-decoration:none;
    color:#fff;
    position:absolute;
    right:0px;
}
.c2a:hover {
    background-color: #52A600;
    background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0%,#68c50D),color-stop(100%,#336700));
    background-image: -moz-linear-gradient(top,#68c50D 0,#336700 100%);
    background-image: linear-gradient(top,#68c50D 0,#336700 100%);
}
body { 
    font-family: 'Droid Sans';
    min-width: 1000px;
    margin:0px;
    padding:0px;
    text-align:center;
}
p {
    margin-top:0px;
}
p, ul, ol {
    font-size:16px;
}
h1 {
    margin-top:10px;
    font-size:108px;
    margin-bottom:0px;
}
h2 {
    margin-bottom:0px;
    font-size:36px;
}
h3 {
    margin:0px;
    font-size:24px;
}
h1, h2, h3, h4 {
    font-family: 'Cabin Sketch', arial, serif;
    color: #333353;
}

.medium, .medium p {
    font-size:14px;
}
.bg_dark, .bg_medium, .bg_light, .bg_lightest, .bg_nav_bar {
    width:100%;
    float:left;
    position:relative;
}
.bg_nav_bar {
    background-image: url(/media/admin/img/admin/default-bg.gif);
    border-bottom:1px solid #333;
    width:100%;
}
.bg_dark {
    background-color:#33333a;
}
.bg_medium {
    background-color:#ccc;
}
.bg_light {
    background-color:#fff;
}
.bg_lightest {
    background-color:#fff;
}
div.title_bar {
    width:1000px;
    position:relative;
}
.title_bar h1, .title_bar h2 {
    color:#fff;
}
div.title_bar .c2a {
    position:absolute;
    top:0px;
}
.title_bar h2 {
    margin-top:-20px;
}
#nav_bar, div.wide, div.title_bar, div.philosophy, div.team, div.software {
    text-align:left;
    margin:0 auto;
}
div.wide {
    width:1000px;
    position:relative;
}
div.how {
    float:left;
    width:680px;
    margin-right:20px;
}
div.why {
    float:left;
    width:300px;
}
.how p, .why p {
    text-align: justify;
}

div.extra_info {
    float:left;
    width:700px;
}
div.pc2a {
    float:left;
    width:300px;
}
div.pc2a .c2a {
    right:0px;
    top:40px;
}
div.testimonials img {
    border:1px solid #ccc;
    margin:5px 0px;
}
div.philosophy {
    width:1000px;
    position:relative;
}
div.philosophy .philosophy_point {
    float:left;
    width:750px;
    padding:5px 0px 5px 0px;
}
div.philosophy .philosophy_point p {
    margin-top:6px;
    margin-bottom:0px;
    text-align:justify;
}
div.philosophy .philosophy_point img {
    width:94px;
    height:94px;
    float:left;
    margin-right:10px;
    border:2px solid gray;
}
div.case_study, .testimonials {
    border:1px solid #333;
    background-color:#fff;
    float:right;
    width:200px;
    margin:20px 0px 10px 10px;
    padding:10px;
    text-align:justify;
}
div.philosophy .c2a {
    top:40px;
}
div.team {
    display:none;

    width:1000px;
    float:left;
    position:relative;
    padding-bottom:20px;
}
div.team h2 {
    margin-top:20px;
}
div.team .team_member {
    float:left;
    width:293px;
    border:1px solid #333;
    margin:10px 5px;
    padding:10px;
}
div.team .team_member img {
    width:80px;
    height:80px;
    float:left;
    margin-right:10px;
}
div.footer {
    width:1000px;
    padding:10px 0;
}
div.software {
    width:1000px;
    position:relative;
    float:left;
    padding-bottom:20px;
}
div.software .screencast {
    width:500px;
    padding:0px;
    float:left;
    margin-top:10px;
}
div.software .screencast iframe {
    border:1px solid gray;
}
div.software .software_features {
    width:500px;
    float:left;
}
div.software .software_feature {
    float:left;
    margin-top:10px;
    margin-left:10px;
    text-align:justify;
    width:235px;
}
div.software .software_feature img {
    width:100%;
    min-height:120px;
}
div.software .software_feature h3, div.software .software_feature p {
    margin-left:5px;
    margin-right:5px;
}

.img_header {
    font-size:16px;
    font-weight:bold;
    background-color:#fff;
}
.img_p {
    text-align:left;
    font-size:12px;
}

#nav_bar {
    width:1000px;
    position:relative;
}
#nav_bar ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
    height:31px;
    margin:auto;
}
#nav_bar li {
    float:left;
}
#nav_bar li a {
    color:#333;
    padding:0px 20px;
    display:block;
    line-height:31px;
    text-decoration:none;
    font-size:21px;
    background-image: url(/media/admin/img/admin/default-bg.gif);
    border-left:1px solid #333;
}
#nav_bar li a.last {
    border-right:1px solid #333;
    font-weight:bold;
}
#nav_bar li a:hover {
    background-image: url(/media/admin/img/admin/default-bg-reverse.gif);
}

.back_link {
    position:relative;
    left:-65px;
    width:0px;
    float:left;
    margin-top:9px;
    font-size:12px;
    font-weight:normal;
}
