<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

	<link rel="stylesheet" type="text/css" href="/media/competition/style/base.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/media/competition/style/popups.css" type="text/css" />
	<link type="text/css" href="/media/competition/style/jquery-ui.css" rel="stylesheet" />

	<!--
	{% if competition %}{% if competition.template_stylesheet %}
		<link rel="stylesheet" type="text/css" href="{{competition.template_stylesheet}}" />
	{% endif %}{% endif %}
	-->

	{% block meta %}{% endblock %}

	<meta name="Description" content="Business model competitions - create & compete">

    <title>
      {% block title %}
      NVANA - Building tools for entrepreneurship
      {% endblock %}
    </title>

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

    <style>

    	{% block style %}
    	{% endblock %}

    </style>

    <script type="text/javascript" src="/media/jquery.min.js"></script>
	<script type="text/javascript" src="/media/jqModal.js"></script>
	<script type="text/javascript" src="/media/showdown.js"></script>
	<script type="text/javascript" src="/media/jquery-ui.min.js"></script>
	<script language="javascript" type="text/javascript" src="/media/jquery.flot.min.js"></script>

	<script type="text/javascript">

		{% block script %}
		{% endblock %}

        var last_popup_url = "";

		$(function(){

			$('#dialog').jqm();
			$('button').button();
			$('.button').button();

			{% block ready_script %}
			{% endblock %}

			$('form.focus :input:visible:first').focus();

            {% if request.GET.show %}
                popup("{{request.GET.show}}");
            {% endif %}

            //handler for resizing popups to screen
            $(window).resize(window_resize);
            window_resize(null);
		});

        function window_resize(event) {
            window_resize(event, null);
        }

        function window_resize(event, dialog) {

            if (dialog == null) {
                if ( $("#dialog_2").css("display") != "none" ) {
                    dialog = "dialog_2";
                }
                else if ( $("#dialog").css("display") != "none" ) {
                    dialog = "dialog";
                }
            }

            if (dialog) {
                var height = $("#" + dialog).height() - 70;
                $("#" + dialog + " .popup_summary").css("height", height + "px");
            }
        }

        /* open a modal dialog box, ajaxing in the url param.
         * can be nested once with a popup opening another popup */
        function popup(url) {

            last_popup_url = url;

            var dialog = "dialog";

            if ( $("#dialog").css("display") != "none" ) {
                dialog = "dialog_2";
            }

            $("#" + dialog).jqm({ajax:url, ajaxText: 'Loading' });
            $("#" + dialog).jqmShow();

            setTimeout("window_resize(dialog)", 300);
        }

        /* loads the url param into an iframe in the jql window. use
         * this instead of popup() when you need to show a whole webpage
         * and keep the JS & CSS separate */
        function popup_iframe(url) {

            last_popup_url = url;

            var dialog = "dialog";

            if ( $("#dialog").css("display") != "none" ) {
                dialog = "dialog_2";
            }

            $("#" + dialog).jqm();
            $("#" + dialog).jqmShow();
            $("#" + dialog).append("<iframe src='" + url + "'>Loading...</iframe>");
        }

        /** swap the contents of the current top level popup for the new url */
        function swap_popup(url) {
            if ($("#dialog_2").is(":visible")) {
                $("#dialog_2").jqmHide();
            }
            else {
                $("#dialog").jqmHide();
            }
            popup(url);
        }

        /** reload the current top popup layer to pull the latest content */
        function reload_popup() {
            if ($("#dialog_2").is(":visible")) {
                $("#dialog_2").jqmHide();
            }
            else {
                $("#dialog").jqmHide();
            }
            popup(last_popup_url);
        }

    </script>
    
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21324618-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>

</head>

<body>

	<div class="jqmWindow" id="dialog" style="overflow:auto;">
		{% block jqmWindow %}
		{% endblock %}
	</div>

    <div class="jqmWindow" id="dialog_2" style="z-index:5000;">
    </div>

	<div id="body">

    {% block header %}
        {% include 'header_base.html' %}
    {% endblock %}

        <h1 style="padding-left:8px;margin-top:0px;padding-top:0px;">
        {% block header_title %}
        {% endblock %}
        </h1>


		<div id="content">
		<div id="content_outer">

			{% block content_outer_top %}
			{% endblock %}

			<div id="content_inner">
				{% block content %}
				{% endblock %}
			</div>

			{% block content_outer_bottom %}
			{% endblock %}
		
		</div>
		</div>
	
	<div id="footer" class="medium">
			
				<div class="funk"></div>
				{% block footer %}
            
            	<a href="/flat/About/">About</a> | <a href="/flat/Terms/">Privacy & Terms</a> | <a href="/blog/">Blog</a> | <a href="/flat/Contact/">Contact</a>
            
				{% endblock %}
	</div>
	
	</div>
	
</body>

</html>
