<div id="header">

        {% block header_top %}
        {% endblock %}

        <span class="medium">{% block breadcrumbs %}{% endblock %}</span>
        {% block logo %}
            <a href="/"><img border=0 src="/media/logo.png" style="height:12px;"></a>
        {% endblock %}

        {% block funk %}
        <div class="funk"></div>
        {% endblock %}

        <div id="account_controls" class="medium">
            {% block account_controls %}
                {% if request.user.is_authenticated %}
                    {% include 'dashboard/header_auth_links.html' %}
                {% else %}
<!--                    <a href="/accounts/login">Log in</a> or <a href="/accounts/register">register</a>.
-->
                {% endif %}
            {% endblock %}
        </div>
       
        <div id="extras">
            {% block extras %}
            {% endblock %}
        </div>
    
</div>
