<div id="header">

        {% block header_top %}
        {% endblock %}

        <span class="medium">{% block breadcrumbs %}{% endblock %}</span>
        {% block logo %}
            <a href="/"><img src="/media/logo.png" style="height:12px;"></a>
        {% endblock %}

        <div class="funk"></div>

        <h1>
        {% block header_title %}
        {% endblock %}
        </h1>

        <div id="account_controls" class="medium">
            {% block account_controls %}
                {% if request.user.is_authenticated %}
                    <a href="/judge/">Judge</a> or <a href="/dashboard/">dashboard</a> or <a href="/accounts/logout/">log out</a>
                {% else %}
                    <a href="/accounts/login">Log in</a> or <a href="/accounts/register">register</a>.
                {% endif %}
            {% endblock %}
        </div>
       
        <div id="extras">
            {% block extras %}
            {% endblock %}
        </div>
    
</div>
