    <form id="add_judge_form" action="/dashboard/phase/{{competition.current_phase.id}}/judges/" method="POST" class="focus">

		<strong>Email of new judge to invite:</strong>

		<input type="text" name="invite_list" />

		<input type="submit" value="Send invitation email" />

	</form>

    <script language="javascript" type="text/javascript">

            $(function() {
                $("#add_judge_form").submit( function() {
                    $.post($(this).attr("action"),
                        $("#add_judge_form").serialize(),
                        reload_popup);
                    return false;
                });
            });

    </script>

