{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="/media/competition/style/dashboard.css" />
{% endblock %}

{% block logo %}
    {% if competition.logo %}
        {{ block.super }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block header_title %}

	{% if phase %}
		{{ phase.name }} - {{ competition.name }}
	{% else %}
		{{ competition.name }} Dashboard
	{% endif %}

{% endblock %}

{% block content_outer_top %}

    {% load markup %}

	<div id="navbar">

		{% include 'dashboard/navbar.html' %}

	</div>

    <div style="float:left;width:100%;padding:0px 8px;margin-top:-8px;" class="medium">
        <img style="float:left;padding-top:14px;margin-right:4px;" src="/media/icons/help.png">
        {{intro|markdown}}
    </div>

{% endblock %}


{% block content_outer_bottom %}

{% endblock %}
