{% extends 'dashboard/base.html' %}

{% block content %}

	{% if phase %}

		{% include 'dashboard/alerts/phase_status.html' %}

		{% include 'dashboard/widgets/mini_phase_details.html' %}
		{% include 'dashboard/widgets/pitch_questions.html' %}

		{% include 'dashboard/widgets/manage_pitches.html' %}

		{% include 'dashboard/widgets/manage_judges.html' %}

	{% else %}

		{% include 'dashboard/widgets/competition_details.html' %}

		{% include 'dashboard/widgets/phases.html' %}

		{% include 'dashboard/widgets/manage_applicants.html' %}

		{% include 'dashboard/widgets/manage_judges.html' %}

        {% include 'dashboard/widgets/emails.html' %}

	{% endif %}

{% endblock %}
