{% extends 'dashboard/base.html' %}

{% block ready_script %}

    $("#tab_manage").addClass("ui-state-active");
    $("#tab_manage").addClass("ui-tabs-selected");

{% endblock %}

{% block header_title %}
Manage {{competition}} <!--"{{competition.current_phase}}" ({{competition.current_phase.phase_num}})-->
{% endblock %}

{% block content %}

    {% include 'dashboard/alerts/phase_status.html' %}

    {% include 'dashboard/widgets/pitches.html' %}

    {% include 'dashboard/widgets/scores.html' %}

{% endblock %}
