
	{% load markup %}

    <div style="margin:8px;float:left;background-color:#fff;border:1px solid gray;padding:8px;width:96%;">

        <div style="float:left;width:100%;">
            <strong class="prompt" style="margin-right:6px;">Team:</strong> {{pitch.team}}
            <span class="medium" style="margin-left:12px;"><a id="show_team_link" href="javascript:void(0);" onclick="$('.team_deets').slideDown();$(this).hide();$('#hide_team_link').show();">Show team details</a></span>
            <span class="medium"><a id="hide_team_link" class="hidden" href="javascript:void(0);" onclick="$('.team_deets').slideUp();$(this).hide();$('#show_team_link').show();">Hide team details</a></span>
        </div>

        <div style="float:left;width:45%;padding-right:8px;border-right:1px solid gray;" class="team_deets hidden">

            {% if pitch.team.business_types.count > 0 %}
            Business type: {% for type in pitch.team.business_types.all %}{{ type }} {% endfor %}
            <br/>
            {% endif %}

            Team members:
             <ul style="margin-top:0px;padding-top:0px;">
            <li>{{pitch.team.owner}} <i>(primary)</i>
            {% for member in pitch.team.other_members.all %}
                <li>{{member}}
            {% endfor %}

        </div>

        <div style="float:left;width:45%;padding-left:8px;" class="team_deets hidden">
            {% if pitch.team.owner.applicant_type %}
            Applicant type: {{pitch.team.owner.applicant_type}}
            <br/>
            {% endif %}

            {% if pitch.team.owner.location %}
            Location: {{pitch.team.owner.location}}
            <br/>
            {% endif %}

            {% if pitch.team.owner.institution %}
            Institution: {{pitch.team.owner.institution}}
            <br/>
            {% endif %}
        </div>

    </div>

    <div style="padding:0px 8px 20px 8px;float:left;clear:both;width:96%;"> <!-- begin next question_section -->

	{% for question in questions %}

        {% block question_display %}

            {% if question.is_hidden_from_applicants %}
            {% else %}

                {% if question.is_divider %}

                    
                    </div> <!-- end previous question_section -->
                    <div style="width:96%;float:left;padding:0px 8px;margin:0px 0px 8px 0px;background-color:#ccc;border-top:1px solid gray;">
                        <h3 style="float:left;clear:both;padding:4px 0px;margin:0px;">{{question.prompt}}</h3>
                    </div>

                    <div style="padding:0px 8px 20px 8px;float:left;clear:both;width:96%;"> <!-- begin next question_section -->

                {% else %}

                    <strong class="prompt">{{ question.prompt }}</strong>
                    <br/>
                    <div style="">
                        {% if question.answer %}

                            {{question.answer|markdown}}

                        {% else %}{% if question.is_required %}

                            <p>
                            (No answer)
                            </p>

                        {% endif %}{% endif %}

                    </div>

                {% endif %}

            {% endif %}

        {% endblock question_display %}

	{% endfor %}

	{% for upload in uploads %}
        {% include 'entercompetition/review_upload.html' %}
	{% endfor %}

    </div>

