{% extends 'dashboard/base.html' %}

{% block header_title %}
View & edit phases
{% endblock %}

{% block ready_script %}

	{% if editing_phase %}
		edit_initial_phase({{editing_phase}});
	{% endif %}

{% endblock %}

{% block script %}

	var open_phase;

	function edit_initial_phase(phase_num) {

		open_phase = phase_num;

        $('#view_phase_' + phase_num).hide();
        $('#edit_phase_' + phase_num).show();
    }

	function edit_phase(phase_num) {

		cancel_edit();

		open_phase = phase_num;

        $('#view_phase_' + phase_num).slideUp();
        $('#edit_phase_' + phase_num).slideDown();
	}

	function cancel_edit() {

        {% if editing_phase %}
            //if we're editing only a single phase, that means we got
            //there from the phase dashboard and cancelling should
            //take us back there
            window.location = "/dashboard/phase/{{editing_phase}}/";
            return;
        {% endif %}

		$('#view_phase_' + open_phase).slideDown();
		$('#edit_phase_' + open_phase).slideUp();
	}

	function new_phase() {

		cancel_edit();

		open_phase = 'new';

		$('#view_phase_new').slideUp();
		$('#edit_phase_new').slideDown();
	}

	function toggle_delete(phase_num, is_one) {

		var checkbox_1 = $('#delete_1_' + phase_num);
		var checkbox_2 = $('#delete_2_' + phase_num);

		if (is_one) {
			checkbox_2.attr('checked', checkbox_1.attr('checked'));

		}
		else {
			checkbox_1.attr('checked', checkbox_2.attr('checked'));
		}

		if (checkbox_1.attr('checked')) {
			$('#edit_phase_' + phase_num + ' .delete_warning').show();
			checkbox_1.parent().hide();
		}
		else {
			$('#edit_phase_' + phase_num + ' .delete_warning').slideUp();
			checkbox_1.parent().show();
		}
	}

{% endblock %}


{% block content %}

		{% for phase in phases %}

            {% ifequal phase.id editing_phase %}
                {% include 'dashboard/widgets/phase_details.html' %}
            {% endifequal %}


            {% if not editing_phase %}
                {% include 'dashboard/widgets/phase_details.html' %}
            {% endif %}

		{% endfor %}

        {% if not editing_phase %}
            <div id="view_phase_new" class="view_phase">
                <button id="add_new_phase_button">
                    Add another phase
                </button>
            </div>
        {% endif %}

		<script>
			$(function() {
				$('#add_new_phase_button').button("option", { icons: { primary: "ui-icon-circle-plus" } });
				$('#add_new_phase_button').click(function() { new_phase(); return false; } );
			});
		</script>

        {% if not editing_phase %}
            <div id="edit_phase_new" class="edit_phase hidden">

                {% include 'dashboard/widgets/phase_new.html' %}

            </div>
        {% endif %}

{% endblock %}

