{% extends 'dashboard/popup_section.html' %}

{% block section_content %}

    <form action="/dashboard/phase/{{phase.id}}/application/" method="POST" class="focus">

		{% include 'dashboard/edit_application_form.html' %}

		<p>
			<input type="submit" value="Save pitch form" />
		</p>
	</form>

    <script language="javascript" type="text/javascript">
        
        $(function () {
                set_click_handlers();
        });

        {% include 'dashboard/edit_application.js' %}

        function get_id(obj) {

            var toks = obj.attr("id").split("_");
            var id = toks[toks.length - 1];
            return id;
        }

    </script>

{% endblock %}

