{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="/media/competition/style/edit_application.css" />
<link rel="stylesheet" type="text/css" href="/media/competition/style/dashboard.css" />
{% endblock %}

{% block script %}

	{% include 'dashboard/edit_application.js' %}

	function get_id(obj) {

		var toks = obj.attr("id").split("_");
		var id = toks[toks.length - 1];
		return id;
	}

{% endblock %}

{% block ready_script %}

	set_click_handlers();

{% endblock %}

{% block content %}

	<form action="" method="POST" class="focus">

		{% include 'dashboard/edit_application_form.html' %}

		<p>
			<input type="submit" value="Save pitch form" />
		</p>
	</form>

{% endblock %}

