<h3>File uploads</h3>

<p>
Want applicants to upload something? Add details about it below. Examples might include a business plan, executive summary, or CV/resume.
</p>

<div id="uploads">
	{% for upload in phase.uploads %}
		<p>
			Upload prompt:
			<textarea name='old_upload_prompt_{{upload.pk}}' class='upload_prompt_field' rows='3'>{{upload.prompt}}</textarea>
		</p>
	{% endfor %}
</div>

<input type="button" onclick="addUpload()" value="+ Add new upload" />



<h3>Form questions</h3>

<p>
Want applicants to fill out an online form of questions when Applying? Add the questions you'd like to ask below.
</p>

<div id="questions">

	{% for question in phase.questions %}

		{% include 'dashboard/widgets/edit_pitch_question.html' %}

	{% endfor %}

</div>

<div class="ea_question">
	<div class="question_applicant">
		<input type="button" onclick="addQuestion()" value="+ Add new question" />
	</div>
	<div class="question_judge">
		<button>Add judging criteria or feedback</button>
	</div>
</div>

