{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="/media/competition/style/dashboard.css" />
{% endblock %}

{% block header_title %}
View & edit phases
{% endblock %}

{% block ready_script %}

	{% if editing_phase %}
		edit_phase({{editing_phase}});
	{% endif %}

{% endblock %}

{% block script %}

	var open_phase;

	function edit_phase(phase_num) {

		cancel_edit();

		open_phase = phase_num;

		$('#view_phase_' + phase_num).slideUp();
		$('#edit_phase_' + phase_num).slideDown();
	}

	function cancel_edit() {

		$('#view_phase_' + open_phase).slideDown();
		$('#edit_phase_' + open_phase).slideUp();
	}

	function new_phase() {

		cancel_edit();

		open_phase = 'new';

		$('#view_phase_new').slideUp();
		$('#edit_phase_new').slideDown();
	}

	function toggle_delete(phase_num, is_one) {

		var checkbox_1 = $('#delete_1_' + phase_num);
		var checkbox_2 = $('#delete_2_' + phase_num);

		if (is_one) {
			checkbox_2.attr('checked', checkbox_1.attr('checked'));

		}
		else {
			checkbox_1.attr('checked', checkbox_2.attr('checked'));
		}

		if (checkbox_1.attr('checked')) {
			$('#edit_phase_' + phase_num + ' .delete_warning').show();
			checkbox_1.parent().hide();
		}
		else {
			$('#edit_phase_' + phase_num + ' .delete_warning').slideUp();
			checkbox_1.parent().show();
		}
	}

{% endblock %}



{% block content %}

	<div id="navbar">

		<a href="/dashboard/"><button id="home_button">Overview</button></a>

		<script>
			$(function() {
				$('#home_button').button("option", { icons: { primary: "ui-icon-home" } });
			});
		</script>
	</div>

	<div id="tab_contents">

		{% for phase in phases %}

			{% include 'dashboard/widgets/phase_details.html' %}

		{% endfor %}


		<div id="view_phase_new" class="view_phase">
			<button id="add_new_phase_button">
				Add another phase
			</button>
		</div>

		<script>
			$(function() {
				$('#add_new_phase_button').button("option", { icons: { primary: "ui-icon-circle-plus" } });
				$('#add_new_phase_button').click(function() { new_phase(); return false; } );
			});
		</script>

		<div id="edit_phase_new" class="edit_phase hidden">

			{% include 'dashboard/widgets/phase_new.html' %}

		</div>

	</div>

{% endblock %}

