<h3>File uploads</h3>

<p>
Want applicants to upload something? Add details about it below. Examples might include a business plan, executive summary, or CV/resume.
</p>

<div id="uploads">
	{% for upload in phase.uploads %}
		<p>
			Upload prompt:
			<textarea name='old_upload_prompt_{{upload.pk}}' class='upload_prompt_field' rows='3'>{{upload.prompt}}</textarea>
		</p>
	{% endfor %}
</div>

<input type="button" onclick="addUpload()" value="+ Add new upload" />



<h3>Form questions</h3>

<p>
Want applicants to fill out an online form of questions when Applying? Add the questions you'd like to ask below.
</p>

<div id="questions">

	{% for question in phase.questions %}

		<div class="ea_question">
			<div class="applicant">
				<p>
					Question prompt:
					<br/>
					<textarea name='old_question_prompt_{{question.pk}}' class='question_prompt_field' rows='3'>{{question.prompt}}</textarea>
					<br/>
					<input type="checkbox" class="is_required" id="is_required_{{question.pk}}" name="is_required_{{question.pk}}" {% if question.is_required %}checked="on"{% endif %} />
					<label for="is_required_{{question.pk}}">Required</label>
					<br/>
					<input type="checkbox" class="show_choices" id="show_choices_{{question.id}}" {% if question.raw_choices %}checked="on"{% endif %} /><label for="show_choices_{{question.id}}">Use dropdown choices for answer</label>
					<br/>
					<div id="choices_div_{{question.id}}" {% if question.raw_choices %}{% else %}class="hidden"{% endif %}>
						Choices (one per line):
						<textarea id="choices_{{question.id}}" name="choices_{{question.id}}">{{question.raw_choices}}</textarea>
					</div>
				</p>
			</div>

			<div class="judge">

				<p>
					<input type="checkbox" class="has_score" id="has_score_{{question.id}}" name="has_score_{{question.id}}" {% if question.max_points > 0 %}checked="on"{% endif %} />
					<label for="has_score_{{question.id}}">Use score number</label>
					<br/>
					<div id="score_div_{{question.id}}" {% if question.max_points == 0 %}class="hidden"{% endif %} >
						Scoring instructions:
						<textarea id="points_prompt_{{question.id}}" name="points_prompt_{{question.id}}">{{ question.judge_points_prompt }}</textarea>
						<br/>
						Max score:
						<input type="number" id="max_points_{{question.id}}" name="max_points_{{question.id}}" value="{{question.max_points}}" />
					</div>
				</p>

				<p>
					<input type="checkbox" class="has_feedback" id="has_feedback_{{question.id}}" name="has_feedback_{{question.id}}" {% if question.judge_feedback_prompt %}checked="on"{% endif %} />
					<label for="has_feedback_{{question.id}}">Request text feedback</label>
					<br/>
					<div id="feedback_div_{{question.id}}" {% if question.judge_feedback_prompt %}{% else %}class="hidden"{% endif %}>
						Feedback instructions
						<textarea id="feedback_prompt_{{question.id}}" name="feedback_prompt_{{question.id}}">{{ question.judge_feedback_prompt }}</textarea>
					</div>
				</p>

			</div>
		</div>
	{% endfor %}
</div>

<div class="question">
	<div class="question_applicant">
		<input type="button" onclick="addQuestion()" value="+ Add new question" />
	</div>
	<div class="question_judge">
		<button>Add judging criteria or feedback</button>
	</div>
</div>

