{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="/media/competition/style/edit_application.css" />
<link rel="stylesheet" type="text/css" href="/media/competition/style/dashboard.css" />
{% endblock %}

{% block script %}

	{% include 'dashboard/edit_application.js' %}

	function get_id(obj) {

		var toks = obj.attr("id").split("_");
		var id = toks[toks.length - 1];
		return id;
	}

{% endblock %}

{% block ready_script %}

	$('.show_choices').click( function() {

		var id = get_id($(this));

		if ( $( this ).attr( "checked" ) ) {
			$( "#choices_div_" + id ).slideDown();
		}
		else {
			$( "#choices_div_" + id ).slideUp();
		}
	});

	$('.has_score').click( function() {

		var id = get_id( $(this) );

		if ( $( this ).attr( "checked" ) ) {
			$( "#score_div_" + id ).slideDown();
		}
		else {
			$( "#score_div_" + id ).slideUp();
		}

	});

	$('.has_feedback').click( function() {

		var id = get_id( $(this) );

		if ( $( this ).attr( "checked" ) ) {
			$( "#feedback_div_" + id ).slideDown();
		}
		else {
			$( "#feedback_div_" + id ).slideUp();
		}

	});



{% endblock %}

{% block content %}

	<form action="" method="POST" class="focus">

		{% include 'dashboard/edit_application_form.html' %}

		<p>
			<input type="submit" value="Save pitch form" />
		</p>
	</form>

{% endblock %}

