{% extends 'dashboard/section.html' %}

{% block section_title %}
{{competition}}
{% endblock %}

{% block section_style %}margin-bottom:16px;width:70%;{% endblock %}

{% block section_content %}

<div style="float:left;">

    <div style="float:left;width:100%;">
        {% if competition.logo %}
            <img style="max-width:200px;" src="{{ competition.logo_url }}" /> 
        {% endif %}
    </div>

    <div class="stat_number">
        You've judged
        <h1>{{ competition.my_num_judged }}</h1>
    </div>

    <div class="stat_number">
        Everyone's judged
        <h1>{{ competition.current_phase.judgements.count }}</h1>
    </div>

    <div class="stat_number">
        Pitches remaining
        <h1>{{ competition.current_phase.pitches_to_judge.count }}</h1>
    </div>

</div>

{% endblock %}
