{% extends 'dashboard/section.html' %}

{% block section_title %}
{{competition}}
{% endblock %}


{% block section_contents %}

<div style="float:left;">

    <div class="stat_number">
        Num Judged
        <h1>{{num_judged}}</h1>
    </div>

    <div class="hr">&nbsp;</div>

    <div class="stat_number">
        Remaining
        <h1>{{num_to_judge}}</h1>
    </div>

</div>

<div style="float:left;">

    <table>
        <tr>
            <td>Company</td>
            <td>Score</td>
        </tr>

        {% for judgement in competition.judged_pitches %}

            <tr>
                <td><a href="/judge/review/{{judgement.id}}">{{ pitch.team.name }}</a></td>
                <td>{{ judgement.score }}</td>
            </tr>

        {% endfor %}

    </table>

</div>

<div style="float:left;">

    <table>
        <tr>
            <td>Company</td>
            <td>Score</td>
        </tr>

        {% for pitch in competition.unjudged_pitches %}

            <tr>
                <td><a href="/judge/go/{{pitch.id}}">{{ pitch.team.name }}</a></td>
                <td>{{ pitch.judgement.score }}</td>
            </tr>

        {% endfor %}

    </table>

</div>



{% endblock %}
