{% extends 'dashboard/base.html' %}

{% block header_title %}
Review judged submissions
{% endblock %}

{% block style %}
td {
	border-bottom-style: solid;
	border-bottom-color: grey;
	border-bottom-width: 1px;
}
{% endblock %}

{% block content %}

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all dashboard_section">

		<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">

			<span class="ui-dialog-title" id="ui-dialog-title-dialog">

				<span class="ui-icon ui-icon-plus" style="float:left;margin-left:-8px;margin-right:4px;"></span>
				<span class="section_title">
					Review judged pitches & declare winners
				</span>
			</span>

		</div>

		<div class="summary">

            <!--
			<button>Announce selected teams as winners</button>
            -->

			<table>
				<tr style="height:30px;font-weight:bold">
					<th style="padding:0px;"></th>
					<th style="padding-left:0px;min-width:70px;">Name</th>
					<th style="min-width:70px;">Email</th>
                    <th style="min-width:70px;">{{ phase_1.name }}</th>
                    {% if phase_2 %}
                    <th style="min-width:70px;">{{ phase_2.name }}</th>
                    {% endif %}
                    <th style="">Total (avg)</th>
				</tr>

				{% for team in teams %}
				<tr>
					<td><input type="checkbox" />
					<td>{{ team.name }}</td>
					<td style="font-size:10px;">{{ team.owner.email }}</td>
					<td>
						{% for judgement in team.pitch_1.judgements.all %}
							<strong>Score: </strong><a href="/dashboard/judgement/{{judgement.id}}/">{{judgement.score}}</a>
							<br/>
						{% endfor %}
                        {% if phase_1.pitch_type != 'live pitch' %}
                            <a style="font-size:10px;" href="/dashboard/pitch/{{team.pitch_1.id}}/">View pitch</a>
                        {% endif %}
					</td>
                    {% if phase_2 %}
					<td>
                        {% if team.pitch_2 %}
                            {% for judgement in team.pitch_2.judgements.all %}
                                <strong>Score: </strong><a href="/dashboard/judgement/{{judgement.id}}/">{{judgement.score}}</a>
                                <br/>
                            {% endfor %}
                            {% if phase_2.pitch_type != 'live pitch' %}
                                <a style="font-size:10px;" href="/dashboard/pitch/{{team.pitch_2.id}}/">View pitch</a>
                            {% endif %}
                        {% endif %}
					</td>
                    {% endif %}
                    <td style="text-align:right;border-left-color: gray; border-left-style: solid; border-left-width: 1px;">{{ team.total_avg|floatformat }}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
</div>

{% endblock %}
