{% extends 'base.html' %}

{% block header_title %}
Manage Applicants
{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

	<table>
		<tr style="height:30px;font-weight:bold">
			<td></td>
			<td>Name</td>
			<td>Email</td>
			<td>Pitch</td>
			<td>Scores</td>
			<td>Average</td>
		</tr>

		{% for pitch in competition.pitches.all %}
		<tr>
			<td><input type="checkbox" />
			<td>{{ pitch.owner.name }}</td>
			<td>{{ pitch.owner.email }}</td>
			<td><a href="/dashboard/pitch/{{pitch.id}}/">View pitch</a></td>
			<td align="center">
				{% for judgement in pitch.judgements %}
					<a href="">{{judgement.score}}</a>
					<br/>
				{% endfor %}
			</td>
			<td>{{ pitch.average_score }}</td>
		</tr>
		{% endfor %}

	</table>

{% endblock %}