{% extends 'base.html' %}

{% block header_title %}
Manage Applicants
{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
td {
	border-bottom-style: solid;
	border-bottom-color: grey;
	border-bottom-width: 1px;
}
{% endblock %}

{% block content %}

	<table>
		<tr style="height:30px;font-weight:bold">
			<td></td>
			<td>Name</td>
			<td>Email</td>
			<td>Score</td>
		</tr>

		{% for judged in judged_pitches %}
		<tr>
			<td></td>
			<td>{{ judged.pitch.owner.name }}</td>
			<td>{{ judged.pitch.owner.email }}</td>
			<td align="center">
				<a href="/dashboard/judgement/{{judged.id}}/">
				Score: {{judged.score}}
				</a>
			</td>
		</tr>
		{% endfor %}

	</table>

{% endblock %}