{% extends 'base.html' %}

{% block header_title %}
Manage Applicants
{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
td {
	border-bottom-style: solid;
	border-bottom-color: grey;
	border-bottom-width: 1px;
}
{% endblock %}

{% block content %}

	<table>
		<tr style="height:30px;font-weight:bold">
			<td></td>
			<td>Name</td>
			<td>Email</td>
			<td>Phone</td>
		</tr>

		{% for applicant in competition.applicants.all %}
		<tr>
			<td><input type="checkbox" />
			<td>{{ applicant.name }}</td>
			<td>{{ applicant.email }}</td>
			<td>{{ applicant.phone }}</td>
		</tr>
		{% endfor %}

	</table>

{% endblock %}