{% extends 'dashboard/popup_section.html' %}

{% block section_title %}
Manage Judges
{% endblock %}

{% block section_content %}

    <h3>Invite new judges</h3>
    {% include 'dashboard/add_judge.html' %}

    <h3>Review existing judges</h3>

        <form method="POST" action="/dashboard/{{competition.id}}/phase/{{phase.id}}/delete_judge_invites/">

            <p>
            Action:
            <select name="action">
                <option value="do_nothing">-------</option>
                <option value="delete_selected">Delete selected</option>
            </select>
            <input type="submit" value="Go" />
            </p>


            <table>
                <tr style="height:30px;font-weight:bold">
                    <td></td>
                    <td style="width:100px">Name</td>
                    <td>Email</td>
                    <td>Activated?</td>
                    <td>Applications judged</td>
                </tr>

                {% for invite in judge_invitations %}
                    <tr>
                        <td><input name="is_selected_{{invite.pk}}" type="checkbox" />
                        <td></td>
                        <td>{{ invite.email }}</td>
                        <td>
                        {% if invite.user %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                        </td>
                        <td>
                        {% if invite.judgements.count > 0 %}
                            <a href="/dashboard/{{competition.id}}/phase/{{phase.id}}/judgements/{{invite.id}}/">{{ invite.judgements.count }}</a>
                        {% else %}
                            {{ invite.judgements.count }}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </table>

        </form>

{% endblock %}
