<div class="navbar">

	{% if phase %}

		<a href="/dashboard/"><button>Overview</button></a>

	{% else %}

		<input type="radio" class="ui-state-selected button" checked id="overview"><label for="overview">Overview</label>

	{% endif %}


	{% for ph in phases %}

		{% ifequal ph phase %}

			<input type="radio" class="ui-state-selected button" checked id="overview"><label for="overview">Phase {{forloop.counter}}</label>

		{% else %}

			<a href="/dashboard/phase/{{ph.id}}/"><button>Phase {{forloop.counter}}</button></a>

		{% endifequal %}

	{% endfor %}

</div>