<div class="navbar">

    <div class="ui-tabs  ui-corner-all" id="widget-docs">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header dashboard-nav-tabs">
                <li id="tab_setup" class="ui-state-default ui-corner-top"><a href="/dashboard/{{competition.hosted_url}}/setup/">Setup</a></li>
                <li id="tab_manage" class="ui-state-default ui-corner-top"><a href="/dashboard/{{competition.hosted_url}}/manage/">Manage</a></li>
                <li id="tab_analyze" class="ui-state-default ui-corner-top"><a href="/dashboard/{{competition.hosted_url}}/analyze/">Analyze & view data</a></li>
                <li id="tab_email" class="ui-state-default ui-corner-top"><a href="/dashboard/{{competition.hosted_url}}/email/">Email applicants or judges</a></li>

            </ul>

    </div>

	<script>
		$(function() {

            

		});
	</script>

</div>
