{% extends 'dashboard/section.html' %}

{% block section_style %}
width:98%;
height:96%;
{% endblock %}

{% block section_content_class %}
popup_summary
{% endblock %}

{% block section_content_style %}
overflow-x:auto;
overflow-y:auto;
height:400px;
{% endblock %}

{% block title_style %}
width:100%;
{% endblock %}

{% block section_title_style %}
float:left;
{% endblock %}

{% block icon_class %}
ui-icon-close
{% endblock %}

{% block section_title %}
Click here to close window
{% endblock %}

{% block title_content %}

    {{ block.super }}

    <div style="float:right;margin-right:-8px;">
        <a href="javascript:void(0);" onclick="$('#dialog').jqmHide();" style="height:24px;width:24px;" class="closeButton medium button">Close popup</a>
    </div>

    <script language="javascript" type="text/javascript">
        $(function() {
                $(".closeButton").button({icons: { primary: 'ui-icon-close' },
                    text:false});
        });
    </script>

{% endblock %}

