{% extends 'dashboard/section.html' %}

{% block section_title %}
Start capturing interest today
{% endblock %}

{% block section_content %}
	<p>
	Even before you've finished setting up the competition, you can share this link to start capturing applicant interest by collecting their names and email addresses for future alerts.
	</p>

	<p>
	Once your competition officially begins, the early applicants will be sent an email alert and anyone new who arrives at this link will be able to go through the full pitch process.
	</p>

	<p>
	<strong><a href="/apply/pitch/{{competition.hosted_url}}">Your competition's early signup link</a></strong>
	</p>
{% endblock %}