{% extends 'dashboard/section.html' %}

{% block section_style %}
width:48%;float:right;
{% endblock %}

{% block section_title %}
Competition phases
{% endblock %}

{% block icon_class %}ui-icon-calendar{% endblock %}

{% block section_content %}

	<strong>Phase 0:</strong>
	Applications
	(<a href="">edit requirements</a>)
	<br />

	{% for phase in competition.phases.all %}

		<strong>Phase {{forloop.counter}}:</strong>
		<a href="/dashboard/phase/{{phase.id}}/">{{phase.name}}</a>
		<br />

	{% endfor %}

	<p>
	<a href="/dashboard/{{competition.id}}/phases/"><button id="edit_phase_button">Add & edit phases</button></a>
	</p>

	<script>
		$(function() {
			$('#edit_phase_button').button("option", { icons: { primary: "ui-icon-plusthick" } });
		});
	</script>

{% endblock %}