{% extends 'dashboard/section.html' %}

{% block section_title %}
Manage Judges
{% endblock %}

{% block icon_class %}ui-icon-person{% endblock %}

{% block section_content %}

	<p>
		<strong>{{competition.judge_invitations.count}}</strong> judges: <a href="/dashboard/{{competition.id}}/phase/{{phase.id}}/judges/">View & invite more:</a>
	</p>

	{% if phase %}

		<p>
			<strong>{{ phase.judgements|length }}</strong> judged applications, <strong>{{competition.current_phase.pitches_to_judge|length}}</strong> remaining
		</p>

		{% include 'dashboard/judge_leaderboard.html' %}

		{% include 'dashboard/chart_score_distribution.html' %}

	{% endif %}

	<p>
		<strong><a href="/export/{{phase.id}}/scores.csv">Download scores .csv</a></strong> (to load into excel)
	</p>

{% endblock %}