{% extends 'dashboard/section.html' %}

{% block section_title %}
Phase {{forloop.counter}} - {{phase.name}}
{% endblock %}

{% block icon_class %}{% endblock %}

{% block section_content %}

	<div id="view_phase_{{forloop.counter}}" class="view_phase">

		<p>
			Online applications due: {{phase.online_applications_due}}
		</p>

		<a href="javascript:void(0);" onclick="edit_phase({{forloop.counter}});">
			<button class="edit_phase_button">Edit phase {{forloop.counter}}</button>
		</a>

	</div>

	<div id="edit_phase_{{forloop.counter}}" class="edit_phase hidden">

		<form action="" method="POST">

			<input type="hidden" name="phase_id" value="{{phase.id}}" />

			<div class="">
				{{ phase.form.as_p }}
			</div>

			<p>
			<div class="delete_warning hidden ui-state-error ui-corner-all" style="padding: 0 .7em;">
				<p>
					<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
					<b>Warning:</b> Leaving this box checked when you save will delete everything about this phase, including any setup, judges, and submitted applications. Please be careful and un-tick it if you aren't sure!
				</p>
				<p>
					<input type="checkbox" id="delete_2_{{forloop.counter}}" onclick="toggle_delete({{forloop.counter}}, false);">
					<label for="delete_2_{{forloop.counter}}"><b>Yes, I want to delete this phase.</b></label>
				</p>
			</div>
			</p>

			<p class="delete_check_container">
				<input type="checkbox" id="delete_1_{{forloop.counter}}" name="is_deleted" onclick="toggle_delete({{forloop.counter}}, true);">
				<label for="delete_1_{{forloop.counter}}">Delete this phase?</label>
			</p>

			<a href="javascript:void(0);" onclick="cancel_edit();">Cancel changes</a>

			<input class="button save_phase_button" type="submit" value="Save changes to phase {{forloop.counter}}" />

		</form>

	</div>

	<script>
		$(function() {
			$('.edit_phase_button').button("option", { icons: { primary: "ui-icon-wrench" } });
			$('.save_phase_button').button("option", { icons: { primary: "ui-icon-check" } });

		});

	</script>

{% endblock %}