{% extends 'dashboard/section.html' %}

{% block section_style %}
width:48%;
{% endblock %}

{% block icon_class %}ui-icon-pencil{% endblock %}

{% block section_title %}
Competition details
{% endblock %}

{% block section_content %}

	<p>
	<strong>Name:</strong> {{competition.name}}
	</p>

	<p>
	<strong>Website:</strong> <a href="{{competition.website}}">{{competition.website}}</a>
	</p>

	<p>
	<strong>Current phase:</strong> <a href="/dashboard/phase/{{competition.current_phase.id}}/">{{competition.current_phase.name}}</a>
	</p>

{% endblock %}