<div class="ui-dialog ui-widget ui-widget-content ui-corner-all dashboard_section {% block section_class %}{% endblock %}" style="{% block section_style %}{% endblock %}">

    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix {% block section_titlebar_class %}{% endblock %}">

        <span style="{% block title_style %}{% endblock %}" class="ui-dialog-title" id="ui-dialog-title-dialog">

            {% block title_content %}

			<span class="ui-icon {% block icon_class %}{% endblock %}" style="float:left;margin-left:-8px;margin-right:4px;"></span>
            <span class="section_title" style="{% block section_title_style %}{% endblock %}">
				{% block section_title %}
				{% endblock %}
			</span>

            {% endblock %}

		</span>

	</div>

    {% block section_outer_content %}
    <div class="summary {% block section_content_class %}{% endblock %}" style="{% block section_content_style %}{% endblock %}">

		{% block section_content %}
		{% endblock %}

	</div>
    {% endblock %}

</div>




