<div class="dashboard_section">

	<h4>Manage Applications</h4>

	<div class="summary">

		<p>
		<a href="/dashboard/{{competition.id}}/applicants/"><strong>{{competition.applicants.count}}</strong> registered applicants</a>
		</p>

		<p>
		<a href="/dashboard/{{competition.id}}/phase/{{competition.current_phase.pk}}/pitches/"><strong>{{competition.pitches.count}}</strong> submitted pitches</a>
		</p>

		<p>
		You (the organizer) have judged {{ organizer_judge.judgements.count }} applications. <strong><a href="/judge/">Click here to continue judging</a></strong>.
		</p>

	</div>

</div>