{% extends 'base.html' %}

{% block meta %}
<script language="javascript" type="text/javascript" src="http://www.scribd.com/javascripts/view.js"></script>
{% endblock %}

{% block header_title %}
View pitch
{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

	{% load markup %}

	{% for upload in uploads %}

		<strong class="prompt">{{upload.prompt}}</strong>
		<br/>
        {% if upload.file.scribd %}
            <div id="scribd_{{upload.id}}"></div>
        {% else %}
            <a href="{{upload.file.url}}">{{ upload.file }}</a>
        {% endif %}
		<p>
		</p>
		<p>
		</p>

	{% endfor %}

    <script language="javascript" type="text/javascript">
        {% for upload in uploads %}
            {% if upload.file.scribd %}
                var scribd_doc = scribd.Document.getDoc({{ upload.file.scribd.doc_id }}, "{{ upload.file.scribd.access_key }}");
                scribd_doc.addParam( 'jsapi_version', 1 );
                scribd_doc.write( 'scribd_{{ upload.id }}' );
            {% endif %}
        {% endfor %}
    </script>

	{% for question in questions %}

		{% if question.is_hidden_from_applicants %}
		{% else %}

			<strong class="prompt">{{ question.prompt }}</strong>
			<br/>
			<div style="width:100%;border:1px solid #ccc;padding:8px;background-color:#eee;">
			{% if question.answer.answer %}
				{{question.answer.answer|markdown}}
			{% else %}{% if question.is_required %}
				(no answer)
			{% endif %}{% endif %}
			</div>
			<p>
			</p>
			<p>
			</p>

		{% endif %}

	{% endfor %}

{% endblock %}
