{% extends 'base.html' %}

{% block content %}

	{% load markup %}

	<div style="float:left;width:100%;margin-bottom:40px;">
		<p>
			<strong>Judge:</strong> {{ judged_pitch.judge.user.email }}
			<br/>
			<strong>Total score:</strong> {{ judged_pitch.score }}
		</p>
		<p>
			<strong>Overall idea attractiveness:</strong> {{ judged_pitch.overall_score }}
			<br />
			<strong>Feedback:</strong> {{ judged_pitch.feedback }}
		</p>
	</div>

	{% for question in questions %}

		<div class="judge_question" style="float:left;width:760px;">

			<div class="application" style="float:left;width:400px;">

				<strong class="prompt">{{ question.prompt }}</strong>
				<br/>
				<div style="width:100%;border:1px solid #ccc;padding:8px;background-color:#eee;">
				{% if question.answer.answer %}
					{{question.answer.answer|markdown}}
				{% else %} {% if question.is_required %}
					(no answer)
				{% endif %}{% endif %}
				</div>

			</div>

			<div class="judging" style="float:left;width:150px;margin-left:10px;">

				{% if question.is_required and question.answer.answer %}
					<strong>Score: {{ question.judged_answer.score }} / {{ question.max_points }}</strong>
				{% endif %}

			</div>

		</div>

	{% endfor %}



{% endblock %}