{% extends 'dashboard/base.html' %}

{% block content %}

	{% load markup %}

    {% for upload in uploads %}
        {% include 'entercompetition/review_upload.html' %}
    {% endfor %}

	{% for question in questions %}
            {{ question.id }}|{{question.answer.id}}
        <div class="judge_question">

            {% if question.is_hidden_from_applicants %}
                <div class="judge_application">
                </div>
            {% else %}
                <div class="judge_application">

                    <strong class="prompt">{{ question.prompt }}</strong>
                    <br/>
                    <div style="border:1px solid #ccc;padding:8px;background-color:#eee;">

                        {% if question.answer.answer %}

                            {{question.answer.answer|markdown}}

                        {% else %} {% if question.is_required %}

                            (no answer)

                        {% endif %}{% endif %}


                    </div>

                </div>
            {% endif %}

            <div class="judging">

                {% if question.max_points > 0 %}

                    <strong>
                        {% if question.judge_points_prompt %}
                            {{ question.judge_points_prompt }}
                        {% endif %}
                    </strong>
			<br/>
                        Score: 
		    <strong>{{question.score}} / {{question.max_points}}
                    </strong>

                {% endif %}

                {% if question.judge_feedback_prompt %}

                    <strong>{{ question.judge_feedback_prompt }}</strong>
                    <br/>
                    <textarea readonly="readonly" style="width:600px;" rows="10" name="feedback_{{question.answer.id}}">{{question.feedback}}</textarea>

                {% endif %}

            </div>

	    </div>
        </div>
	{% endfor %}



{% endblock %}
