{% extends 'dashboard/popup_section.html' %}

{% block section_title %}
View pitch
{% endblock %}

{% block section_content %}

	{% load markup %}

	{% for upload in uploads %}
        {% include 'entercompetition/review_upload.html' %}
	{% endfor %}

	{% for question in questions %}

		{% if question.is_hidden_from_applicants %}
		{% else %}

			<strong class="prompt">{{ question.prompt }}</strong>
			<br/>
			<div style="width:100%;border:1px solid #ccc;padding:8px;background-color:#eee;">
			{% if question.answer.answer %}
				{{question.answer.answer|markdown}}
			{% else %}{% if question.is_required %}
				(no answer)
			{% endif %}{% endif %}
			</div>
			<p>
			</p>
			<p>
			</p>

		{% endif %}

	{% endfor %}

{% endblock %}
