{% extends 'dashboard/view_pitch.html' %}

{% block section_title %}
Judged pitch
{% endblock %}

{% block question_display %}

    {% load markup %}

    {% if question.is_divider %}
        
        </div> <!-- end previous question_section -->
        <div style="width:96%;float:left;padding:0px 8px;margin:0px 0px 0px 0px;background-color:#ccc;border-top:1px solid gray;">
            <h3 style="float:left;clear:both;padding:4px 0px;margin:0px;">{{question.prompt}}</h3>
        </div>

        <div style="padding:0px 8px 20px 8px;float:left;clear:both;width:96%;"> <!-- begin next question_section -->

    {% else %}

        <div class="judge_question" style="border-top:1px solid grey;padding-top:8px;">

            {% if question.is_hidden_from_applicants %}

                <div class="judge_application">

                </div>

            {% else %}


                <div class="judge_application">

                    <strong class="prompt">{{ question.prompt }}</strong>
                    <div class="hr">&nbsp;</div>
                    <div style="border:1px solid #eee;padding:8px;">

                        {% if question.answer.answer %}

                            {{question.answer.answer|markdown}}

                        {% else %} {% if question.is_required %}

                            <p>
                            (no answer)
                            </p>

                        {% endif %}{% endif %}

                    </div>

                </div>

            {% endif %}

            <div class="judging" style="float:left;width:150px;margin-left:25px;margin-top:0px;">

                {% if question.max_points > 0 %}
                        {% if question.judge_points_prompt %}
                            <strong>
                                {{ question.judge_points_prompt }}
                                <br/>
                            </strong>
                        {% endif %}

                    <strong>Score: </strong>
                    {{question.score}} / {{question.max_points}}

                {% endif %}

                {% if question.judge_feedback_prompt %}

                    <strong>Feedback:</strong>
                    {% if question.feedback %}
                        {{question.feedback|markdown}}
                    {% else %}
                        (No feedback)
                    {% endif %}

                {% endif %}

            </div>

        </div>
    {% endif %}

{% endblock %}
