.extra_team {

    float:left;
    width:142px;
    magin:0px;
    padding:0px;
    padding-right:8px;

}
.extra_team_question {
    width:142px;
}

#content p {
	margin-8px;
}

.logo {
	float:right;


}

h1 {
	color: #db560b;
	font-size: 1.45em;
	font-weight: normal
	margin-top:20px;
	padding-bottom:20px;
}

h3 {
	margin-top:20px;
	font-size:14px;
}

.copyright {
	float:right;
	padding:5px;
}

#leftnav {
	float:left;
	background: url(http://www.londonentrepreneurschallenge.com/images/left_navigation_background.jpg) repeat-x;
	border: 0px solid white;
	height: 500px;
	width: 130px;
	margin-right:0px;
}
#topnav {
	float:top;
	height:28px;
	background: url(http://www.londonentrepreneurschallenge.com/images/left_navigation_background.jpg) repeat-x;
	width:100%;
}

#content_inner {
	width:634px;
}